<td>
  <a href="#" {{action 'editShipment' this}}><i class="icon-pencil has-tooltip" title="edit"></i></a>
  <a href="#" {{action 'deleteShipment' this}}><i class="icon-trash has-tooltip" title="delete"></i></a>
</td>

{{#each column in view.parentView.parentView.columns}}
  <td>
    {{value-with-optional-tooltip content=view.context displayProperty=column.displayProperty longDisplayProperty=column.longDisplayProperty}}
  </td>
{{/each}}
