<td>
  <a href="#" {{action 'editShipment' this}}><i class="icon-pencil has-tooltip" title="edit"></i></a>
  <a href="#" {{action 'deleteShipment' this}}><i class="icon-trash has-tooltip" title="delete"></i></a>
</td>
{{#each view.rowData}}
  <td>
    <span {{bind-attr class="hasTooltip::has-tooltip" data-original-title="tooltip"}}>
      {{value}}
    </span>
  </td>
{{/each}}