<%= admin_new_modal({:title => "Current CITES Suspensions"}) {
  render :partial => "admin/cites_suspensions/current_suspensions_form",
    :locals => {:current_suspensions => @taxon_concept.current_cites_suspensions}
} %>

<%= nested_form_for [:admin, @taxon_concept, @cites_suspension], :html => {:class => 'form-horizontal'} do |f| %>

  <p>
    <%= link_to("View Current Suspensions", "#new-taxon_concept_cites_suspension",
      {
        :role => "button",
        :"data-toggle" => "modal",
      }) %>
  </p>

  <%= render :partial => 'admin/cites_suspensions/form_shared', :locals => {:f => f} %>

<% end %>
