// Settings (mobile-first)
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$navy: #253848;
$medium-grey: #dddddd;
$light-grey: #f7f7f7;
$dark-grey: #747474;
$link-blue: #0088cc;

$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1600px;

.mobile {
  font-family: 'Open Sans', sans-serif;
  color: $dark-grey;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.75;
  // get rid of the default margin on the body
  margin-top: -40px;

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  h3 {
    font-weight: 400;
    font-size: 1.3rem;
  }

  h4 {
    color: $navy;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 2rem 0;
    line-height: 1.5;
  }

  a {
    color: $navy;
    text-decoration: underline;
  }

  a:hover {
    color: $link-blue;
  }

  &-header {
    text-align: center;
    
    &__title {
      font-weight: 600;
      color: $navy;
      position: relative;
      padding: 0.5rem 0;
    }

    &__button {
      all: unset;
      height: 40px;
      position: absolute;
      right: 0;
      top: 1rem;
      padding-right: 2rem;
      cursor: pointer;
    }
    
    &__hero {
      background-color: $navy;
      color: white;
      padding: 6% 2%;
      margin-bottom: 4rem;
    }
  }

  &-body {
    padding: 0 2rem 2rem;
  } 

// breakpoints
  @media screen and (min-width:$screen-sm){
    font-size:16px;
  }

  @media screen and (min-width:$screen-lg){
    font-size:18px;

    &-body {
      padding: 0 6rem 6rem;
    } 

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 2rem;
    }

    h4 {
      font-size: 1.75rem;
    }
  }

  @media screen and (min-width:$screen-xl){
      font-size:20px;
  }
}