<td>{{#view Species.ResultToggleButton}}{{/view}}</td>
<td class="meeting-type">{{meetingType}}</td>
<td>
  <span class="no-of-documents">
    {{documents.docs.length}} / {{documents.meta.total}}
  </span>
</td>
