<div class="admin-header">
  <h1>CITES Quotas</h1>
  <div class="action-buttons">
    <%= admin_add_new_button(
      :resource => 'quota',
      :href => new_admin_quota_url,
      :"data-toggle" => nil,
      :role => nil
    ) %>
  </div>
</div>

<%= admin_simple_search %>
<%= admin_table %>

<%= paginate collection %>

