<div class="page">
  <%= render 'shared/alerts' %>
  <%= link_to "Log out #{current_user.name}", destroy_user_session_path, :method => :delete %>

  <div class="well">
    <p>Logged in as: <%= current_user.name %> (Some sort of menu here?)</p>
  </div>

  <div class="row-header">
    <h1>API User Dashboard</h1>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque convallis tortor, et pretium eros commodo nec. Pellentesque cursus arcu non mauris finibus tristique. Nam enim neque, maximus ac viverra vitae, mattis accumsan urna. Sed lobortis, ligula vitae venenatis eleifend, risus est luctus metus, eget pulvinar turpis velit nec quam. Suspendisse urna lacus, fermentum non vulputate et, mattis ut enim. Etiam ipsum turpis, egestas ut nisi eget, eleifend lobortis magna. Maecenas facilisis odio ipsum, et placerat massa egestas at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In vel accumsan leo. Nulla facilisi. Etiam lacinia diam ut sapien sagittis fringilla. Nullam aliquet porttitor massa.</p>
</div>
