--listing changes
SELECT TOP 531 
  S.SpcRecID, CL.ClaName, O.OrdName, F.FamName, G.GenName, S.SpcName, L.LegListing, L.LegDateListed, C.CtyRecID, L.LegNotes
FROM ORWELL.animals.dbo.species AS S
  INNER JOIN ORWELL.animals.dbo.genus AS G ON S.SpcGenRecID = G.GenRecID 
  INNER JOIN ORWELL.animals.dbo.family AS F ON G.GenFamRecID = F.FamRecID 
  INNER JOIN ORWELL.animals.dbo.taxorder AS O ON F.FamOrdRecID = O.OrdRecID 
  INNER JOIN ORWELL.animals.dbo.taxclass AS CL ON O.OrdClaRecID = CL.ClaRecID
  INNER JOIN ORWELL.animals.dbo.legal AS L ON S.SpcRecID = L.LegSpcRecID
  INNER JOIN ORWELL.animals.dbo.legalname AS LN ON L.LegLnmRecID = LN.LnmRecID AND LN.LnmRecID = 3
  LEFT JOIN ORWELL.animals.dbo.Country as C ON L.LegISO2 = C.CtyISO2
WHERE S.SpcStatus = 'A' AND CL.ClaName LIKE 'M%'
ORDER BY 3, 4, 5, 6;

--species
SELECT 'Animalia' as Kingdom , P.PhyName, C.ClaName, O.OrdName, F.FamName, G.GenName, S.Spcname, S.SpcInfraRank, S.SpcInfraepithet, S.Spcrecid, S.SpcStatus
from Orwell.animals.dbo.Species S 
inner join Orwell.animals.dbo.Genus G on S.Spcgenrecid = G.genrecid
INNER JOIN	ORWELL.animals.dbo.Family F ON FamRecID = GenFamRecID
INNER JOIN  ORWELL.animals.dbo.TaxOrder O ON OrdRecID = FamOrdRecID
INNER JOIN  ORWELL.animals.dbo.TaxClass C ON ClaRecID = OrdClaRecID
INNER JOIN  ORWELL.animals.dbo.TaxPhylum P ON PhyRecID = ClaPhyRecID
WHERE S.SpcRecID IN (
219,512,714,1151,1677,1678,1679,1680,1681,2445,2446,2447,2461,2813,2815,2828,2887,2889,2890,3125,3126,3127,3128,3160,3707,3744,3746,3749,3750,3751,3752,3787,3791,3792,3793,3847,4015,4037,4038,4139,4140,4143,4148,4150,4153,4248,4257,4258,4259,4261,4265,4819,5760,5953,6231,6235,6236,8327,8539,8540,8541,8542,8543,8544,8545,8668,8967,8968,8969,8970,8972,9948,9949,9950,9951,10032,10053,10054,10103,10167,10169,10170,10341,11033,11186,11509,11510,11511,11512,11513,11514,11515,11516,11638,12518,12519,12520,12521,12522,12523,12912,12992,13894,13895,13896,13897,13898,13901,13924,14294,14295,14296,14297,14303,14519,15112,15309,15310,15311,15312,15313,15314,15452,15568,15569,15640,15733,15734,15735,15737,15738,15739,15745,15803,15951,15952,15953,15954,15955,15956,15967,16218,16457,18146,18147,18148,18149,18150,18151,18306,18439,18440,18441,18597,18847,18848,18868,18869,18870,18871,18872,18873,18874,19766,19771,19832,19833,20468,21172,21552,21661,22047,22050,22732,22956,23049,23050,23054,23055,23056,23057,23058,23062,28567,29583,29740,29741,30195,30202,30208,32149,41607,41608,41609,41610,41611,45475,74591,78891,87090,87099,101175,101179,101195,101196,101197,101204,101212,101213,101222
)
ORDER BY 2;

-- synonyms
Select 'Animalia' as Kingdom , P.PhyName, C.ClaName, O.OrdName, F.FamName, G.GenName, S.Spcname, S.SpcInfraRank, S.SpcInfraepithet, S.Spcrecid, S.SpcStatus, SynSpcRecID AS AcceptedSpcRecID
from Orwell.animals.dbo.Species S 
INNER JOIN  ORWELL.animals.dbo.Genus G on S.Spcgenrecid = G.genrecid
INNER JOIN  ORWELL.animals.dbo.Family F ON FamRecID = GenFamRecID
INNER JOIN  ORWELL.animals.dbo.TaxOrder O ON OrdRecID = FamOrdRecID
INNER JOIN  ORWELL.animals.dbo.TaxClass C ON ClaRecID = OrdClaRecID
INNER JOIN  ORWELL.animals.dbo.TaxPhylum P ON PhyRecID = ClaPhyRecID
INNER JOIN  ORWELL.animals.dbo.SynLink Syn ON SynParentRecID = S.SpcRecID
WHERE SynSpcRecID IN (
219,512,714,1151,1677,1678,1679,1680,1681,2445,2446,2447,2461,2813,2815,2828,2887,2889,2890,3125,3126,3127,3128,3160,3707,3744,3746,3749,3750,3751,3752,3787,3791,3792,3793,3847,4015,4037,4038,4139,4140,4143,4148,4150,4153,4248,4257,4258,4259,4261,4265,4819,5760,5953,6231,6235,6236,8327,8539,8540,8541,8542,8543,8544,8545,8668,8967,8968,8969,8970,8972,9948,9949,9950,9951,10032,10053,10054,10103,10167,10169,10170,10341,11033,11186,11509,11510,11511,11512,11513,11514,11515,11516,11638,12518,12519,12520,12521,12522,12523,12912,12992,13894,13895,13896,13897,13898,13901,13924,14294,14295,14296,14297,14303,14519,15112,15309,15310,15311,15312,15313,15314,15452,15568,15569,15640,15733,15734,15735,15737,15738,15739,15745,15803,15951,15952,15953,15954,15955,15956,15967,16218,16457,18146,18147,18148,18149,18150,18151,18306,18439,18440,18441,18597,18847,18848,18868,18869,18870,18871,18872,18873,18874,19766,19771,19832,19833,20468,21172,21552,21661,22047,22050,22732,22956,23049,23050,23054,23055,23056,23057,23058,23062,28567,29583,29740,29741,30195,30202,30208,32149,41607,41608,41609,41610,41611,45475,74591,78891,87090,87099,101175,101179,101195,101196,101197,101204,101212,101213,101222
)
ORDER BY 2;

-- common names
Select C.ComName, L.LanDesc, S.SpcRecId
from Orwell.animals.dbo.Species S 
inner join Orwell.animals.dbo.CommonName C on C.ComSpcRecID = S.SpcRecID
INNER JOIN	ORWELL.animals.dbo.Language L ON L.LanRecID = C.ComLanRecID
WHERE S.SpcRecID IN (
219,512,714,1151,1677,1678,1679,1680,1681,2445,2446,2447,2461,2813,2815,2828,2887,2889,2890,3125,3126,3127,3128,3160,3707,3744,3746,3749,3750,3751,3752,3787,3791,3792,3793,3847,4015,4037,4038,4139,4140,4143,4148,4150,4153,4248,4257,4258,4259,4261,4265,4819,5760,5953,6231,6235,6236,8327,8539,8540,8541,8542,8543,8544,8545,8668,8967,8968,8969,8970,8972,9948,9949,9950,9951,10032,10053,10054,10103,10167,10169,10170,10341,11033,11186,11509,11510,11511,11512,11513,11514,11515,11516,11638,12518,12519,12520,12521,12522,12523,12912,12992,13894,13895,13896,13897,13898,13901,13924,14294,14295,14296,14297,14303,14519,15112,15309,15310,15311,15312,15313,15314,15452,15568,15569,15640,15733,15734,15735,15737,15738,15739,15745,15803,15951,15952,15953,15954,15955,15956,15967,16218,16457,18146,18147,18148,18149,18150,18151,18306,18439,18440,18441,18597,18847,18848,18868,18869,18870,18871,18872,18873,18874,19766,19771,19832,19833,20468,21172,21552,21661,22047,22050,22732,22956,23049,23050,23054,23055,23056,23057,23058,23062,28567,29583,29740,29741,30195,30202,30208,32149,41607,41608,41609,41610,41611,45475,74591,78891,87090,87099,101175,101179,101195,101196,101197,101204,101212,101213,101222
) AND
	L.LanDesc IN ('English', 'Spanish', 'French')
ORDER BY 3;

-- country distributions
Select S.Spcrecid, Cty.CtyRecID, Cty.CtyShort
from Orwell.animals.dbo.Species S 
inner join Orwell.animals.dbo.Genus G on S.Spcgenrecid = G.genrecid
INNER JOIN	ORWELL.animals.dbo.Family F ON FamRecID = GenFamRecID
INNER JOIN  ORWELL.animals.dbo.TaxOrder O ON OrdRecID = FamOrdRecID
INNER JOIN  ORWELL.animals.dbo.TaxClass C ON ClaRecID = OrdClaRecID
INNER JOIN  ORWELL.animals.dbo.TaxPhylum P ON PhyRecID = ClaPhyRecID
INNER JOIN [Animals].[dbo].[DistribCty] Dcty ON S.SpcRecID = Dcty.DCtSpcRecID
INNER JOIN [Animals].[dbo].[Country] Cty ON Dcty.DCtCtyRecID = Cty.CtyRecID
WHERE S.SpcRecID IN (
219,512,714,1151,1677,1678,1679,1680,1681,2445,2446,2447,2461,2813,2815,2828,2887,2889,2890,3125,3126,3127,3128,3160,3707,3744,3746,3749,3750,3751,3752,3787,3791,3792,3793,3847,4015,4037,4038,4139,4140,4143,4148,4150,4153,4248,4257,4258,4259,4261,4265,4819,5760,5953,6231,6235,6236,8327,8539,8540,8541,8542,8543,8544,8545,8668,8967,8968,8969,8970,8972,9948,9949,9950,9951,10032,10053,10054,10103,10167,10169,10170,10341,11033,11186,11509,11510,11511,11512,11513,11514,11515,11516,11638,12518,12519,12520,12521,12522,12523,12912,12992,13894,13895,13896,13897,13898,13901,13924,14294,14295,14296,14297,14303,14519,15112,15309,15310,15311,15312,15313,15314,15452,15568,15569,15640,15733,15734,15735,15737,15738,15739,15745,15803,15951,15952,15953,15954,15955,15956,15967,16218,16457,18146,18147,18148,18149,18150,18151,18306,18439,18440,18441,18597,18847,18848,18868,18869,18870,18871,18872,18873,18874,19766,19771,19832,19833,20468,21172,21552,21661,22047,22050,22732,22956,23049,23050,23054,23055,23056,23057,23058,23062,28567,29583,29740,29741,30195,30202,30208,32149,41607,41608,41609,41610,41611,45475,74591,78891,87090,87099,101175,101179,101195,101196,101197,101204,101212,101213,101222
)
ORDER BY P.PhyName;