<div class="admin-header">
  <h3>CITES Processes</h3>
  <div class="action-buttons">
    <%= admin_add_new_button(
      :resource => 'cites_captivity_process',
      :href => new_admin_taxon_concept_cites_captivity_process_path(@taxon_concept),
      :"data-toggle" => nil,
      :role => nil,
      :name => 'Add new CITES Captivity process'
    ) %>
  </div>
</div>

<%= admin_new_modal{ '' } %>

<%= admin_table %>

<%= paginate collection %>

