<h2>New name: accepted names</h2>
<p>
  <i class="icon-info-sign"></i>
  Assign accepted names
</p>
<%= nomenclature_change_form do |f| %>
  <div class="control-group">
    <%= f.fields_for :output do |ff| %>
      <label class="control-label">Select accepted names:</label>
      <div class="controls">
        <%= ff.text_field :accepted_taxon_ids, {
            :class => 'taxon-concept-multiple',
            :'data-name' => ff.object.fetch_accepted_taxons_full_name.to_s,
            :'data-name-status' => 'A',
            :'data-name-status-filter' => ['A'].to_json,
            :'data-taxonomy-id' => @taxonomy.id,
            :multiple => 'multiple'
          } %>
      </div>
    <% end %>
  </div>
<% end %>
