<h2>New name: author-year</h2>
<p>
  <i class="icon-info-sign"></i>
  Assign author-year
</p>
<%= nomenclature_change_form do |f| %>

  <div class="control-group">
    <%= f.fields_for :output do |ff| %>
      <label class="control-label">Author & year:</label>
        <div class="controls">
          <%= ff.text_field :new_author_year, {
            :class => 'new-author-year'
          } %>
        </div>
    <% end %>
  </div>

<% end %>