<h2>New name: hybrid parents</h2>
<p>
  <i class="icon-info-sign"></i>
  Assign hybrid parents
</p>
<%= nomenclature_change_form do |f| %>
  <%= f.fields_for :output do |ff| %>
    <div class="control-group">
      <label class="control-label">Select first hybrid parent:</label>
      <div class="controls">
        <%= ff.text_field :hybrid_parent_id, {
          :class => 'taxon-concept',
          :'data-name' => ff.object.hybrid_parent.try(:full_name),
          :'data-name-status' => ff.object.hybrid_parent.try(:name_status),
          :'data-name-status-filter' => ['A'].to_json,
          :'data-taxonomy-id' => @taxonomy.id
        } %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Select second hybrid parent:</label>
      <div class="controls">
        <%= ff.text_field :other_hybrid_parent_id, {
          :class => 'taxon-concept',
          :'data-name' => ff.object.other_hybrid_parent.try(:full_name),
          :'data-name-status' => ff.object.other_hybrid_parent.try(:name_status),
          :'data-name-status-filter' => ['A'].to_json,
          :'data-taxonomy-id' => @taxonomy.id
        } %>
      </div>
    </div>
  <% end %>
<% end %>
