<h2>New name: scientific name</h2>
<p>
  <i class="icon-info-sign"></i>
  Assign scientific name
</p>
<%= nomenclature_change_form do |f| %>

  <div class="control-group">
    <%= f.fields_for :output do |ff| %>
      <label class="control-label">Scientific name:</label>
        <div class="controls">
          <%= ff.text_field :new_scientific_name, {
            :class => 'new-scientific-name'
          } %>
        <label class="new-scientific-name-eg">
          <%= new_name_scientific_name_hint %>
        </label>
        </div>
    <% end %>
  </div>

<% end %>
