<div class="grid_16 main_content">

<div id="query_results" class="grid_16 results">
  <div id="new_search_wrapper" align="center">
      <a id="new_search" style="float:right;" href="/<%= I18n.locale %>/cites_trade/">
        <button id="new_search" style="float:right; margin-right:15px;" value=" New Search ">
        <%= image_tag "cites_trade/refresh1.png", alt: "" %> <%= t('new_search') %>
        </button>
      </a>
    <br>
  </div>
  <h3 id="table_title" style="text-align:center"></h3>
  <table id="query_results_table">
  </table>
  <div id='cites-trade-loading'><%= image_tag('loading.gif') %></div>
  <p class="info"></p>
</div>

</div>
