<section class="section">
  <div class="section__inner-padding">
    <div class="section__body">

      <div
        id="query_results"
        class="results"
      >
        <div class="results__header">
          <h3
            id="table_title"
            class="results__title"
          ></h3>
          <a
            id="new_search"
            href="/<%= I18n.locale %>/cites_trade/"
            class="results__button"
          >
            <%= t('new_search') %>
          </a>
        </div>

        <div class="results__body">
          <table
            id="query_results_table"
            class="results__table"
          ></table>
          <div id='cites-trade-loading'><%= image_tag('loading.gif') %></div>
          <p class="info"></p>
        </div>
      </div>

    </div>
  </div>
</section>
