<%= form_for resource_instance_name, :url => collection_path, :remote => true do |f| %>

  <%= error_messages_for(@reference) %>

  <label>Citation</label><%= f.text_area :citation %><br />
<% end %>
