<div class="admin-header">
  <h3>References</h3>
  <div class="action-buttons">
    <%= admin_add_new_reference_button %>
  </div>
</div>
<%= admin_new_reference_modal %>
<div id="references-list" style="clear:both">
  <%= render 'admin/taxon_concept_references/list' %>
</div>
