a {
  cursor: pointer
}

.sandbox-form {
  button {
    margin: 10px 5px;
  }
  label { display: inline; }
}

.sandbox-header, .shipments-header {
  button, a.btn {
    margin: 10px 5px;
  }
  span {
    margin-top: 15px;
  }
  margin-top: 10px;
}

.loading-shipments {
  display: none;
}
