// Colours

$dark-grey: #dddddd;
$light-grey: #f7f7f7;
$dark-blue: #00a1de;
$light-blue: #00a2db;

.modal {
  /* new custom width */
  width: 940px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -430px;
}

.table-row {
  cursor: pointer
}

h2 {
  padding: 16px 0;
  border-bottom: 1px solid lighten($dark-grey, 6%);
  margin-bottom: 29px;
}

div.filters {
  background-color: $light-grey;
  .heading {
    background-color: $dark-grey;
    text-transform: uppercase;
    padding: 6px;
    margin: 8px;
    a {
      color: #fff;
      font-size: 17px;
    }
  }
  //.body .left {
  //  padding: 8px;
  //}
  div.left {
    padding: 8px 15px;
  }
  p {
    padding-bottom: 3px;
    border-bottom: 1px solid lighten($dark-grey, 6%);
    color: darken($dark-grey, 48%);
  }
  .row01 {
    padding-top: 6px;
  }

  .popup-holder01 .popup:after {
    background: url(/assets/species/arrow05-dark.png) no-repeat;
    background-size: 100%;
  }
}

.go, .heading {clear: left;}

.inner {
  clear: left;
  div.left {
    float: left;
  }
  select {
    width: 160px;
    border: 1px solid #cccccc;
    background-color: white;
    margin: 5px 10px;
  }
}


.filter-group {
  width: 190px;
}


div.popup-holder01 { 
  //display: block; 
  top: 20px;
  left: -11px;

  .popup {
    border: $dark-blue solid 1px;

    div.search-block01.no-padding {
      padding: 0;
      background-color: $dark-blue;
      border-bottom: #00a2db solid 1px;
      .choices {
        background-color: #00a2db;
        height: 100px;
        .selection {
          padding: 6px;
        }
        overflow: auto;
      }
    }

    div.list-holder {
      background-color: #ffffff;
      a {
        text-decoration: none;
      }
    }
    
//    .selections {
//      background-color: #ffffff;
//      height: 60px;
//    }
//  
//    .list-holder ul li a span {
//      text-decoration: none;
//    }
  
    button {
      height: 15px;
      width: 15px;
      border-radius: 15px;
      font-size: 10px;
      line-height: 12px;
      padding: 0;
      text-align:center;
    }

  }
}

.body.in {
  overflow:visible;
}