<div class="admin-header">
  <h3>CMS Instruments</h3>
  <div class="action-buttons">
    <%= admin_add_new_button(
      :resource => 'taxon_instrument',
      :href => new_admin_taxon_concept_taxon_instrument_url(@taxon_concept),
      :"data-toggle" => nil,
      :role => nil
    ) %>
  </div>
</div>

<%= admin_new_modal{ '' } %>

<%= admin_table %>

<%= paginate collection %>


