<h1>Designations <a href="#new-designation" role="button" class="btn new-button">Add new designation</a></h1>

<div id="new-designation" class="admin-in-place-editor-new modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-designation-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="new-designation-laber">Add new designation</h3>
  </div>
  <div class="modal-body">

    <table class="table table-bordered table-striped">
      <tbody> 
        <tr>
          <td width="40%">Name</td>
          <td><a data-original-title="Enter name" data-name="name" data-type="text" id="newname" class="editable editable-click editable-empty" href="#">Empty</a></td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary save-button">Save changes</button>
  </div>
</div>

<table id="designations" class="table table-bordered table-striped admin-in-place-editor" style="clear: both">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>

    <% @designations.each do |designation| -%>
      <tr>
        <td>
          <a href="#" class="editable editable-click editable-required" data-type="text" data-resource="designation" data-name="name"
            data-placeholder="Required" data-original-title="Enter the designation's name"
            data-url="/api/designations/<%= designation.id %>" data-pk="<%= designation.id %>">
            <%= designation.name %>
          </a>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>

