<%= form_for resource_instance_name, :url => collection_url, :remote => true do |f| %>

  <%= error_messages_for(resource_instance_name) %>

  <label>Term Code</label>
  <%= f.hidden_field :term_id, class: 'term select2' %>
  <br />

  <label>Trade Code</label>
  <%= f.select :trade_code_id, @trade_code_codes_arr, class: 'trade select' %>
  <br />

<% end %>