<p>Dear <%= @user.name %>,</p>
<p>
  Your CITES Report submission <%= @aru.id %> has failed due to the presence of duplicate records.<br>
</p>

<p>
  Best regards,
  the Trade Reporting Tool team
<p>

