<p>Dear <%= @user.name %>,</p>
<p>
  Your CITES Report <%= @aru_id %> has already been submitted.
</p>
<p>
  Please check the data went through correctly and kindly report back any issue encountered.
</p>

<p>
  Best regards,
  the Trade Reporting Tool team
<p>

