<% form_url = if @synonym_relationship.new_record? %>
  <% admin_taxon_concept_synonym_relationships_url(@taxon_concept) %>
<% else %>
  <% admin_taxon_concept_synonym_relationship_url(@taxon_concept, @synonym_relationship) %>
<% end %>
<%= form_for [:admin, @taxon_concept, @synonym_relationship], :url => form_url, :remote => true do |f| %>
  <%= error_messages_for(@synonym_relationship) %>
  <%= f.hidden_field :taxon_relationship_type_id %>
  <div class="control-group">
    <label class="control-label">Select existing synonym:</label>
    <div class="controls">
      <%= f.text_field :other_taxon_concept_id, {
        :class => 'taxon-concept',
        :'data-name' => @synonym_relationship.other_taxon_concept.try(:full_name),
        :'data-name-status' => @synonym_relationship.other_taxon_concept.try(:name_status),
        :'data-name-status-filter' => ['S'],
        :'data-taxonomy-id' => @taxon_concept.taxonomy_id
      } %>
    </div>
  </div>
<% end %>
