#footer .holder .species-login-form {
	margin: 20px 0 25px;
  color: #648aa2;
	display: none;
  div {
    display: inline-block;
		margin: 0 7px;
    label {
      display: block;
      margin: 7px;
    }
    input[type="text"], input[type="password"] {
      background-color: transparent;
    }
  }


  .round-button {
    width: 115px;
    margin: 0 10px;
    background: #7089A0;
  }

  .species-login-forgot {
    margin: 10px 0 0 630px;
    a { color: #648aa2; }
  }
}

.species-connect, .logged-footer {
	color: #648aa2;
	margin: 10px 0;
}
#footer .species-connect {
	span { font-weight: bold; }
	a {
		display: block;
		color: #648aa2;
		text-decoration: none;
	}
	i.fa { float: right; }
}

.logged-footer, .logged-header {
	i.fa {
		margin: 0 7px;
	}
}
.logged-footer {
	a {
		text-decoration: none;
		float: right;
		color: #648aa2;
	}
}

.logged-header {
	font-size: 12px;
	background-color: #376382;
	height: 30px;
	.logged-header-container {
		padding: 6px 115px;
		color: white;
		.left { float: left; }
		.right {
			a { color: white; text-decoration: none; }
			float: right;
		}
	}

	.logged-header-dropdown {
		display: none;
		color: white;
		position: relative;
		left: 1180px;
		top: 25px;
		height: 140px;
		width: 160px;
		background-color: #376382;
		z-index: 2;
		font-size: 14px;
		a {
			color: white;
			text-decoration: none;
		}
		&:before{
			font-family: FontAwesome;
			content: "\f0d8";
			color: #376382;
			position: relative;
			bottom: 22px;
			left: 131px;
		}
		i.fa-times{
			font-size: 14px;
			float: right;
			position: relative;
			bottom: 5px;
		}
		.settings {
			margin: 0 0 10px 10px;
			.settings-list {
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-weight: 100;
				font-size: 12px;
				margin: 5px 0 0 7px;
			}
		}
		.logout {
			margin: 20px 0 0;
			padding: 10px 0 10px 10px;
			border-top: 1px solid black;
		}
	}
}

.change-password {
	width: 860px;
	height: 520px;
	background-color: #A4C5DA;
	margin-bottom: 105px;
	border: 1px solid #6b94af;

	.edit-container {
		width: 510px;
		margin: 0 auto;
		padding: 35px 0;
		h2 {
			font-size: 24px;
			text-transform: none;
		}
		input[type="password"] {
			margin: 10px 0;
			width: 100%;
			height: 35px;
		}
		p { margin: 0 0 15px 0; }
		label { margin: 0 0 0 15px; }
		h2, p {
			padding-bottom: 20px;
		}
		p, label { color: black; }
		.new-password {
			margin: 20px 0;
			padding: 25px 0 10px;
			border-top: 1px solid rgba(118,135,157,0.2);
			border-bottom: 1px solid rgba(118,135,157,0.2);
		}
	}
}

.round-text-inputs {
	input[type="text"], input[type="password"]{
		border: 1px solid rgba(118,135,157,0.4);
		border-radius: 20px;
		height: 25px;
		padding: 0 0 0 10px;
		outline: none;
	}
}

.round-button {
	cursor: pointer;
	width: 101px;
	float: right;
	border: none;
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 2px;
	margin: 0;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background: #376382;
	&:hover{
		background: #253848;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

}
input[type="submit"]:hover { cursor: pointer; }
