#footer .holder .species-login-form {
	margin: 20px 0 25px;
  color: #648aa2;
	display: none;
  div {
    display: inline-block;
		margin: 0 7px;
    label {
      display: block;
      margin: 7px;
    }
    input {
      background-color: transparent;
      border: 1px solid rgba(118,135,157,0.4);
      border-radius: 20px;
      height: 25px;
			padding: 0 0 0 10px;
    }
  }


  input[type="submit"] {
    cursor: pointer;
    width: 115px;
    border: none;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 2px;
    margin: 0 10px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #7089A0;
    &:hover{
      background: #253848;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }

  .species-login-forgot {
    margin: 10px 0 0 630px;
    a { color: #648aa2; }
  }
}

.species-connect, .logged-footer {
	color: #648aa2;
	margin: 10px 0;
}
.species-connect {
	span { font-weight: bold; }
	a {
		display: block;
		color: #648aa2;
		text-decoration: none;
	}
	i.fa { float: right; }
}

.logged-footer, .logged-header {
	i.fa {
		margin: 0 7px;
	}
}
.logged-footer {
	a {
		text-decoration: none;
		float: right;
		color: #648aa2;
	}
}

.logged-header {
	font-size: 12px;
	background-color: #376382;
	height: 30px;
	.logged-header-container {
		padding: 6px 115px;
		color: white;
		.left { float: left; }
		.right {
			a { color: white; text-decoration: none; }
			float: right;
		}
	}

	.logged-header-dropdown {
		display: none;
		color: white;
		position: relative;
		left: 1180px;
		top: 25px;
		height: 140px;
		width: 160px;
		background-color: #376382;
		z-index: 2;
		font-size: 14px;
		a {
			color: white;
			text-decoration: none;
		}
		&:before{
			font-family: FontAwesome;
			content: "\f0d8";
			color: #376382;
			position: relative;
			bottom: 22px;
			left: 131px;
		}
		i.fa-times{
			font-size: 14px;
			float: right;
			position: relative;
			bottom: 5px;
		}
		.settings {
			margin: 0 0 10px 10px;
			.settings-list {
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-weight: 100;
				font-size: 12px;
				margin: 5px 0 0 7px;
			}
		}
		.logout {
			margin: 20px 0 0;
			padding: 10px 0 10px 10px;
			border-top: 1px solid black;
		}
	}
}
