.emb-link {
  cursor: pointer;
  cursor: hand;
}

span.distrib_reference {
  padding: 3px 0;
  display: block;
}

#match-info{
  color: #2d3237;
  font-size: 14px;
  border-bottom: 1px solid #6B93AF;
  border-top: 1px solid #6B93AF;
}
