div#documents {
  table.documents-table {
    margin-bottom: 50px;
    thead {
      tr.documents-head{
        td {
          padding: 10px 0;
          border: none;
        }
      }
    }
    tbody {
      tr.document-row{
        border: 1px #DFE1E2;
        border-style: solid none;
        td { padding: 10px 0; border-top: none;}
        td.event-name { width: 50px; }
        td.event-date { width: 80px; }
        td.event-type { width: 50px; }
        td.document-title { width: 100px; }
      }
    }
  }
}

#documents {
  .grouped-results-table {
    tr.table-row {
      display: block;
      div.inner-table-container {
        display: block;
      }
    }
  }
}

  .grouped-results-table {
    width: 100%;
    thead.grouped-header {
      th { font-weight: bold; }
    }
    tbody {
      &:before {
        content: "-";
        display: block;
        line-height: 1em;
        color: transparent;
      }
      tr{
        td{
          padding: 10px 0;
          vertical-align: middle;
          i {
            font-size: 48px;
            color: #648aa2;
            margin-left: 10px;
          }
        }
      }
      tr.group {
        td { border-top: 1px solid #DFE1E2; }
      }
      tr.table-row {
        display: none;
        & > td {
          padding-bottom: 0;

        }
        div.inner-table-container {
          display: none;
          i { font-size: 12px; }
          div.header-container {
            position: relative;
            width: 100%;
            table {
              th.event-col, th.event-date-col, th.title-col {
                ul {
                  display: inline-block;
                  vertical-align: middle;
                  line-height: 0;
                  i.fa-caret-up { line-height: 0; }
                }
              }
            }
          }
          div.body-container {
            overflow-y: scroll;
            min-height: 100px;
            max-height: 400px;
            width: 100%;
            margin-top: 10px;
            border-top: 2px solid #DFE1E2;
            border-bottom: 1px solid #DFE1E2;
            -webkit-box-shadow: inset 0px 10px 10px -6px rgba(223, 225, 226, 0.75),
                                inset 0px -10px 10px -6px rgba(223, 225, 226, 0.75);
            -moz-box-shadow: inset 0px 10px 10px -6px rgba(223, 225, 226, 0.75),
                             inset 0px -10px 10px -6px rgba(223, 225, 226, 0.75);
            box-shadow: inset 0px 10px 10px -6px rgba(223, 225, 226, 0.75),
                        inset 0px -10px 10px -6px rgba(223, 225, 226, 0.75);
          }
          table {
            width: 908px;
            clear: both;
            table-layout: fixed; //not always necessary
            td { word-wrap: break-word } //not always necessary
            th.event-col { max-width: 100px; }
            th.event-date-col { max-width: 112px; }
            th.title-col { max-width: 198px; }
            th.language-col { max-width: 90px; }
            th.countries-col { max-width: 169px; }
            th.taxon-col { max-width: 169px; }
            th.download-col {
              width: 70px;
              i.fa-download { cursor: pointer; }
            }
            &.table-body tbody {
              td{border-bottom: 1px solid #DFE1E2;}
              td.title-col {
                i.fa-file-pdf-o { color: #868686; }
              }
              input { margin-left: 28px; }
              .multiple-data-container {
                  position: relative;
                  z-index: 10;
                  i { font-size: 16px; }
              }
              .data-tooltip {
                  position: absolute;
                  max-width: 200px;
                  bottom: 20px;
                  left: 20px;
                  background-color: #FFF;
                  border: 1px solid #CCC;
                  display: none;
              }
              .multiple-data-container:hover {z-index: 20;}
              .multiple-data-container:hover .data-tooltip {display: block;}
            }
          }
        }
      }
    }
  }
