a.legal-links {
  cursor: pointer;
  border-bottom: 1px dotted #666;
}

a.legal-links:hover {
  text-decoration: none;
  color: #7CA8C6;
  border-bottom: 1px dotted #7CA8C6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#eu_decisions .link-holder {
  position: relative;
  float: left;
}
#eu_decisions .link-holder:hover a { font-weight: bold; }
#eu_decisions .link-holder:hover .popup-holder { display: block; }
#eu_decisions .link-holder .popup-holder {
  position: absolute;
  display: none;
  z-index: 9999;
  left: -14px;
  top: 7px;
  padding: 20px 0 0;
}
#eu_decisions .popup {
  width: 200px;
  position: relative;
  text-align: left;
  padding: 10px;
  background: #f5f5f7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: #d6d7d7 solid 1px;
}
#eu_decisions .popup:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 13px;
  width: 9px;
  height: 10px;
  z-index: 1;
  background: image-url('species/arrow08.png') no-repeat;
}
#eu_decisions .popup .title {
  text-transform: none;
  font-size: 12px;
  color: #253848;
  margin: 0;
}
#eu_decisions .popup .text {
  color: #253848;
  font-size: 12px;
  display: block;
  margin: 0 0 14px;
}

#full-note-legal {
  width: 590px;
  margin-left: -295px;
  margin-top: -250px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #f5f5f7;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 1px solid #6d95b0;
  z-index: 1000;
  text-align: left;
  .close {
    width: 22px;
    height: 22px;
    overflow: hidden;
    position: absolute;
    right: -9px;
    top: -6px;
    text-indent: -9999px;
    background: image-url('species/btn-close.png') no-repeat;
  }
  .title {
    display: block;
    font-size: 17px;
    padding: 29px 32px 26px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #253848;
    background: #8fb7cf;
    border-bottom: 1px solid #6d95b0;
    -webkit-border-radius: 12px 12px 0 0;
    border-radius: 12px 12px 0 0;
  }
  .content{
    padding: 32px;
    overflow-y: auto;
    background: #f5f5f7;
    height: 400px;
    p{
      margin: 0 0 5px;
      font-size: 13px;
    }
    img { width: 100%; }
  }
}

