div#nomenclature_banner {
  background: #2D3237;
  margin: 30px 0;
  opacity: 0.8;
}

div#nomenclature_banner p {
  color: #fff;
  opacity: 1;
  text-align: center;
  margin: 0;
  padding: 10px 40px 10px 25px;
}
