<p><%= link_to 'CITES/EU Species Names', admin_exports_download_path(:filters => {:taxonomy => 'CITES_EU'}) %></p>
<p><%= link_to 'CMS Species Names', admin_exports_download_path(:filters => {:taxonomy => 'CMS'}) %></p>