<h2>Taxon Concepts</h2>
<p><%= link_to 'CITES/EU Species Names', admin_exports_download_path(:data_type => "Names",
                                                                     :filters => {:taxonomy => 'CITES_EU'}) %></p>
<p><%= link_to 'CMS Species Names', admin_exports_download_path(:data_type => "Names",
                                                               :filters => {:taxonomy => 'CMS'}) %></p>

<h2>Distribution</h2>
<p><%= link_to 'CITES/EU Species Distribution', admin_exports_download_path(:data_type => "Distributions",
                                                                            :filters => {:taxonomy => 'CITES_EU'}) %></p>
<p><%= link_to 'CMS Species Distribution', admin_exports_download_path(:data_type => "Distributions",
                                                                            :filters => {:taxonomy => 'CMS'}) %></p>
