<% flash.each do |name, msg| %>
  <%= content_tag :div, :class => "alert #{[:error, :alert].include?(name) ? "alert-error" : "alert-success" }" do %>
    <a class="close" data-dismiss="alert" href="#">×</a>
    <%= msg %>
  <% end %>
<% end %>

