<section class="mobile-header">
  <div class="mobile-header__hero">
    <h3>Species+</h3>
    <h2><%= @hero %></h2>
  </div>
</section>
<section class="mobile-body">
  <% @body.each do |section| %>
    <h4><%= section[:title]&.html_safe %></h4>
    <%= section[:description]&.html_safe %>
  <% end %>
</section>