<div class="navbar-inner">
  <div class="container">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <%= link_to "ISIP Admin Panel", admin_root_path, :class => "brand" %>
    <div class="nav-collapse">
      <ul class="nav">
        <li class="<%= if controller_name == 'home' then 'active' end%>"><a href="/admin">Home</a></li>
        <li class="<%= if controller_name == 'exports' then 'active' end%>"><a href="/exports">Data Exports</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#terms-of-use">Terms of Use</a></li>
      </ul>
    </div>
  </div>
</div>

