<div class="modal hide" id="loading-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h3>Processing</h3>
    </div>
    <div class="modal-body">
      {{partial 'trade/loading'}}
    </div>
</div>