<div class="modal hide" id="wait-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-header">
        <h1>Processing...</h1>
    </div>
    <div class="modal-body">
        Please wait while shipments are reloaded...
    </div>
</div>