<div class="admin-header">
  <h1>EU Annex Regulation Listing changes</h1>
</div>

<%= admin_simple_search %>

<p><strong><%= link_to @eu_regulation.description,
  admin_eu_regulations_path(:query => @eu_regulation.description) %></strong></p>

<%= admin_table %>

<%= paginate collection %>

