<div class="span4">
  <div class="attribute-area clearfix">
    <label>
      Appendix<br><input type="text" name="appendix">
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Species name<br><input type="text" name="species_name">
    </label>
  </div>
</div>
<div class="span4">
  <div class="attribute-area clearfix">
    <label>
      Term Code<br><input type="text" name="term_code">
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Quantity<br><input type="text" name="quantity">
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Unit Code<br><input type="text" name="unit_code">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="unit_code">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Trading Partner<br><input type="text" name="trading_partner">
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Country of Origin<br><input type="text" name="country_of_origin">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="country_of_origin">set blank
    </label>
  </div>
</div>
<div class="span4">
  <div class="attribute-area clearfix">
    <label>
      Purpose Code<br><input type="text" name="purpose_code">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="purpose_code">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Source Code<br><input type="text" name="source_code">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="source_code">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Year<br><input type="text" name="year">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="year">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Import Permit<br><input type="text" name="import_permit">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="import_permit">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Export Permit<br><input type="text" name="export_permit">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="export_permit">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Origin Permit<br><input type="text" name="origin_permit">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="origin_permit">set blank
    </label>
  </div>
</div>
