<div class="span4">
  <div class="attribute-area clearfix">
    <label>
      Appendix<br><input type="text" name="appendix">
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Species name<br><input type="text" name="speciesName">
    </label>
  </div>
</div>
<div class="span4">
  <div class="attribute-area clearfix">
    <label>
      Term Code<br><input type="text" name="termCode">
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Quantity<br><input type="text" name="quantity">
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Unit Code<br><input type="text" name="unitCode">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="unitCode">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Trading Partner<br><input type="text" name="tradingPartner">
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Country of Origin<br><input type="text" name="countryOfOrigin">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="countryOfOrigin">set blank
    </label>
  </div>
</div>
<div class="span4">
  <div class="attribute-area clearfix">
    <label>
      Purpose Code<br><input type="text" name="purposeCode">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="purposeCode">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Source Code<br><input type="text" name="sourceCode">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="sourceCode">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Year<br><input type="text" name="year">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="year">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Import Permit<br><input type="text" name="importPermit">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="importPermit">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Export Permit<br><input type="text" name="exportPermit">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="exportPermit">set blank
    </label>
  </div>
  <div class="attribute-area clearfix">
    <label>
      Origin Permit<br><input type="text" name="originPermit">
    </label>
    <label class="blank-checkbox">
      <input type="checkbox" name="originPermit">set blank
    </label>
  </div>
</div>
