<div class="page">
  <div class="row-header">
    <h2>About Species+</h2>
  </div>

  <div class="column-one">
    <h3>Species+</h3>

    <p>Species+, developed by UNEP-WCMC and the CITES Secretariat, is a website
    designed to assist Parties with implementing CITES, CMS and other multilateral
    environmental agreements (MEAs). Species+ provides centralised portal for accessing key information on species of global concern.</p>

    <p>In particular, Species+ contains information on all species that are listein the
    Appendices of CITES and CMS, as well as other CMS Family listingand species
    included in the Annexes to the EU Wildlife Trade Regulations</p>
  </div>

  <div class="column-two"><img src="/assets/species/homepage-screenshot.png" /></div>

  <div class="row-header">
    <h3>Species+ features</h3>
  </div>

  <div class="column-one">
    <h4>Species data search</h4>

    <p>To find information on a particular species, users should first select which
    Convention (&#34;CITES&#34;or &#34;CMS&#34;) they seek information on (the default is CITES). This
    will filter the data based on the taxonomy and species that are listed under that 
    Convention. Then, users can search for a species or higher taxon using the search
    field. An additional &#34;locations&#34; filter can also be applied if users are only
    interested in a species or group of species that occur in a particular country,
    territory or region.</p>

    <p>Once on a species page, the database includes the following information for each
    species:</p>

    <ul>
      <li>LEGAL:</li>

      
        <ul>
          <li>CITES: details of CITES Appendix listings, quotas and suspensions, as
          well as EU Annexes and EU decisions.</li>

          <li>CMS: details of the CMS Appendix listing, as well as listings in other
          CMS Family Agreements and MoUs.</li>
        </ul>
      

      <li>NAMES: synonyms and common names</li>

      <li>DISTRIBUTION: geographic distribution at the country and territory level
      (where available)</li>

      <li>REFERENCES: CITES Standard reference or CMS reference, where applicable, or
      other scientific literature references that relate to the species name or the
      distribution.</li>
    </ul>

    <p>Note on Legal information: Species+ allows users to view historic legal
    information by clicking on &#34;Show History&#34;. Where legal information applies to
    subspecies or synonyms, this information will appear on the page for the
    corresponding accepted species name.</p>
  </div>

  <div class="column-two">
    <h4>Data download</h4>

    <p>To provide ready access to species lists, Species+ provides a mechanism for
    downloading key species lists in an Excel-ready format as a csv file. Please review
    the Terms of use for the data prior to downloading. The following species lists are
    available for download by CITES and CMS Parties and the general public, including
    traders and scientific institutions:</p>

    <ul>
      <li>CITES species lists</li>

      
        <ul>
          <li>CITES Listings - filterable by Appendix, higher taxa and locations
          (countries/territories/CITES regions)</li>

          <li>CITES Quotas &#8212; filterable by higher taxa and locations</li>

          <li>CITES suspensions &#8212; filterable by higher taxa and locations</li>
        </ul>
      

      <li>CMS species lists</li>

      
        <ul>
          <li>CMS Appendix listings - filterable by Appendix, higher taxa and
          locations.</li>
        </ul>
      

      <li>EU species lists</li>

      
        <ul>
          <li>EU Annex listings &#8212; filterable by Annex, higher taxa and locations (with
          the option to include the corresponding CITES Appendices)</li>

          <li>EU decisions &#8212; suspensions and opinions of the Scientific Review
          Group</li>
        </ul>
      
    </ul>
  </div>
</div>