<div class="page">
  <div class="row-header">
    <h2>About Species+</h2>
  </div>

  <div class="column-one">
    <h3 class="first">Species+</h3>

    <p>Species+, developed by UNEP-WCMC and the CITES Secretariat, is a website
    designed to assist Parties with implementing CITES, CMS and other multilateral
    environmental agreements (MEAs). Species+ provides a centralised portal for
    accessing key information on species of global concern.</p>

    <p>In particular, Species+ contains information on all species that are listed in the
    Appendices of CITES and CMS, as well as other CMS Family listings and species
    included in the Annexes to the EU Wildlife Trade Regulations.</p>
  </div>

  <div class="column-two">
    <%= image_tag "species/homepage-screenshot.jpg", width: "390", height: "255" %>
  </div>

  <div class="row-header">
    <h3>Species+ features</h3>
  </div>

  <div class="column-one">
    <h4>Species search</h4>

    <p>To find information on a particular species, users should first select which
    Convention (&#34;CITES&#34; or &#34;CMS&#34;) they seek information on (the default is CITES). This
    will filter the data based on the taxonomy and species that are listed under that
    Convention. Then, users can search for a species or higher taxon using the search
    field. An additional &#34;locations&#34; filter can also be applied if users are only
    interested in a species or group of species that occur in a particular country,
    territory or region.</p>

    <p>Once on a species page, the database includes the following information for each
    species:</p>

    <ul>
      <li><strong>LEGAL</strong></li>

        <ul>
          <li>CITES: details of CITES Appendix listings, quotas and suspensions, as
          well as EU Annexes and EU decisions.</li>

          <li>CMS: details of the CMS Appendix listing, as well as listings in other
          CMS Family Agreements and MoUs.</li>
        </ul>

      <li><strong>NAMES</strong></li>

        <ul>
          <li>Synonyms and common names.</li>
        </ul>

      <li><strong>DISTRIBUTION</strong></li>
        <ul>
          <li>Geographic distribution at the country and territory level
          (where available).</li>
        </ul>

      <li><strong>REFERENCES</strong></li>
        <ul>
          <li> CITES Standard reference or CMS reference, where applicable, or
          other scientific literature references that relate to the species name or the
          distribution.</li>
        </ul>

      <li><strong>DOCUMENTS</strong></li>
        <ul>
          <li>CITES CoP proposals to amend the Appendices;</li>
          <li>Animals and Plants Committee documents relating to the CITES Review of Significant Trade Process;</li>
          <li>Non-detriment findings (including case studies presented to the International Expert Workshop on CITES Non-detriment findings);</li>
          <li>Identification materials from the CITES Identification Manual and identification materials hosted on the CITES Virtual College;</li>
          <li>Agenda and Summary of Conclusions of meetings of the EU CITES Scientific Review Group.</li>
        </ul>
        <p>See &#34;Document search&#34; section below for further information relating to the document search functionality.</p>
    </ul>

    <p><strong>Note on Legal information:</strong> Species+ allows users to view historic legal
    information by clicking on &#34;Show History&#34;. Where legal information applies to
    subspecies or synonyms, this information will appear on the page for the
    corresponding accepted species name.</p>

    <p><strong>Note on Location filtering:</strong> Filters for country/territory/region of occurrence
      (used in the context of both searching and downloading lists) currently include all taxa associated
      with that geographic entity, including taxa that are recorded as extinct, introduced or re-introduced
      in that area. Details on these attributes are included in the right hand columns of the CITES and EU
      listing downloads and are also viewable on the &#34;Distribution&#34; tab for the species in question. Also note
      that when filtering on a country, all species that occur within that country and its territories
      will be provided.</p>

    <h4>Browser compatibility</h4>
    <p>This site is optimised for Internet Explorer 11, Microsoft Edge, Firefox, Safari and Google Chrome.
      The site may not display properly in older browsers.</p>
  </div>

  <div class="column-two">
    <h4>Download species lists</h4>

    <p>To provide ready access to species lists, Species+ provides a mechanism for
    downloading key species lists in an Excel-ready format as a csv file. Please review
    the <a href="/terms-of-use">terms of use</a> for the data prior to downloading. The following species lists are
    available for download by CITES and CMS Parties and the general public, including
    traders and scientific institutions:</p>

    <ul>
      <li><strong>CITES species lists</strong></li>

        <ul>
          <li>CITES Listings: filterable by Appendix, higher taxa and locations
          (countries/territories/CITES regions - see note on Location filtering).</li>

          <li>CITES Quotas&#8212; filterable by higher taxa and locations.</li>

          <li>CITES suspensions&#8212; filterable by higher taxa and locations.</li>
        </ul>


      <li><strong>CMS species lists</strong></li>


        <ul>
          <li>CMS Appendix listings: filterable by Appendix, higher taxa and
          locations.</li>
        </ul>
        <p class="notes-text">
          It is planned to implement a web feed to display CMS species data directly from the CMS species database in Species+.
        </p>


      <li><strong>EU species lists</strong></li>

        <ul>
          <li>EU Annex listings: filterable by Annex, higher taxa and locations (with
          the option to include the corresponding CITES Appendices).</li>

          <li>EU decisions: suspensions and opinions of the Scientific Review
          Group.</li>
        </ul>

    </ul>
    <p><strong>Note on csv files:</strong> Users can download lists of CITES and CMS-listed species in Excel-ready comma-separated values ("csv") files. The csv files can be downloaded through this site using commas or semicolons as separators. The default separator is, when possible, automatically based on the computer's default regional settings. Users can change their separator preferences by clicking on "Trouble viewing outputs?" in the Species+ download window.</p>

    <h4>Document search</h4>

    <p>
      Species+ allows users to search for available CITES documents through the &#34;Search for CITES Documents&#34; tab and to refine these searches by taxon and by country. There are three categories of documents available: 
      <ul>
        <li>&#34;Meetings&#34; – this category includes CoP proposals, documents related to the CITES Review of Significant Trade process discussed within the Animals and Plants Committees, and documents related to meetings of the EU Scientific Review Group. CITES Standing Committee documents are not included within the documents search functionality.</li>
        <li>&#34;Identification materials&#34; – this category includes materials from the CITES Identification Manual and identification materials hosted on the CITES Virtual College; and</li>
        <li>&#34;Other documents&#34; – this category includes documents that are not associated with a specific CITES or EU meeting, including non-detriment findings (e.g. case studies presented to the International Expert Workshop on CITES Non-detriment findings) and public versions of UNEP-WCMC reports produced for the EU CITES Scientific Review Group.</li>
      </ul>
    </p>
    <p>
      The &#34;Search by title keyword&#34; functionality will only return results if there is an exact match with the word or phrase in the title of the document.
    </p>
    <p>
      The current CITES accepted standard nomenclature is used within the document search facility. Documents that were written using previously accepted nomenclature are linked to current accepted taxon names. Confidential documents of the EU CITES Scientific Review Group are accessible only to EU CITES Authorities. Representatives of EU CITES Authorities can request a username and password to access by contacting <a href="mailto:species@unep-wcmc.org" target="_top">species@unep-wcmc.org</a>.
    </p>
    <p>
      <strong>Note:</strong> The document search should not be used to determine the legal status of a species (Appendix listings) or if it has associated quotas or other legal information. For this, users should always search in the &#34;Search by Species&#34; tab of Species+.
    </p>
    <p>
      The document library includes all the currently available documents for the categories outlined above; please also see the Species+ Terms of Use.
    </p>

  </div>

  <div class="column-full-width">

    <h3>SPECIES+ ICONS LEGEND</h3>
    <%= image_tag src="species/species-legend.png", width: "810", height: "326" %>


    <h3>SPECIES+ CONTRIBUTORS</h3>
    <p>
      In 2013, UNEP-WCMC, in partnership with the CITES Secretariat and with additional
      support from UNEP, has brought the various data-holdings together into one, comprehensive
      data portal to assist Parties to implement biodiversity MEAs.
    </p>
    <p>
      Financial support to maintain this database has come from a range of sources, on a project or
      longer-term basis. Current funders, supporting portions of the maintenance of the underlying
      data include: WCMC (UK), the European Commission and the CITES Secretariat.
    </p>
    <p>
      This information resource is a result of long-term collaboration between countless individual
      scientists worldwide and many organizations whose contribution is gratefully acknowledged.
    </p>

  </div>
</div>
