<div class="page">

  <h2>Terms and Conditions of Use of Species+ Data </h2>

  <h4 class="point-header first">1. INTRODUCTION</h4>
  <p>Access to the information, data and attribute data provided through the <a href="https://www.speciesplus.net">Species+ website</a> and the <a href="http://api.speciesplus.net">Species+/CITES Checklist API</a> (the "Materials") is provided to the User on the understanding that the User reads and consents to be bound to the Terms and Conditions set out below. For the purposes of this Agreement Materials comprise all the species lists, checklists and other information made available for download via the API and contained within any part of the Species+ website.</p>

  <p class="strong">PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY. IF YOU DO NOT AGREE TO ANY OF THE TERMS AND CONDITIONS DO NOT DOWNLOAD DATA OR MAKE USE OF THE SPECIES+/CITES CHECKLIST API. BY DOWNLOADING THE MATERIALS MADE AVAILABLE ON SPECIES+ AND/OR USING THE SPECIES+/CITES CHECKLIST API THE USER ACCEPTS AND AGREES TO COMPLY WITH THE TERMS AND CONDITIONS BELOW.</p>

  <h4 class="point-header">2. PUBLISHING</h4>
  <p>You may publish the Materials in whole or in part including on-line providing (a) the Materials are not downloadable and (b) the proper attribution is clearly visible (see clause 5 below). You must ensure that the most recently available version of the Materials is being used and that the date of download is visible in the published version. Materials published online must provide a clear link to the original on-line source (<a href="https://www.speciesplus.net">www.speciesplus.net</a>). We strongly recommend that you have the relevant materials reviewed by UNEP prior to publication via email to
  <a href="mailto:species@unep-wcmc.org" target="_top">species@unep-wcmc.org</a>
  . We require two electronic copies of all published materials to be provided without cost to UNEP via email to
  <a href="mailto:species@unep-wcmc.org" target="_top">species@unep-wcmc.org</a>
  .</p>

  <h4 class="point-header">3. NO SUB-LICENSING OR REDISTRIBUTION</h4>
  <p>The Materials may not be sub-licensed in whole or in part including within Derivative Works without the prior written permission of UNEP. You may not redistribute the Materials in whole or in part by any means including (but not limited to) electronic formats such as web downloads, through web services or through file transfer protocols. You may not use the Materials for any application that replicates or attempts to replace the essential user experience of Speciesplus.net. You may not attempt to cloak or conceal your identity or your application's identity when requesting authorization to use the Species+/CITES Checklist API.</p>

  <p>If you know of others who wish to use the Materials or if you wish to provide a service through which the Materials are downloadable or otherwise made available for redistribution you must contact
  <a href="mailto:species@unep-wcmc.org" target="_top">species@unep-wcmc.org</a>
  for permission and further guidance.</p>

  <h4 class="point-header">4. NO COMMERCIAL USE</h4>
  <p>Neither (a) the Materials nor (b) any work derived from or based upon the Materials (“Derivative Works”) may be put to Commercial Use without the prior written permission of UNEP. For the purposes of these Terms and Conditions “Commercial Use” means a) any use for profit or to generate revenue, or b) any use by an individual or entity operating within or on behalf of or to the benefit of or to assist the activities of any entity <span style="text-decoration:underline">other</span> than a not-for-profit organisation. To apply for permission for Commercial Use of the Materials please send an email to
  <a href="mailto:species@unep-wcmc.org" target="_top">species@unep-wcmc.org</a>
  outlining your needs.</p>

  <h4 class="point-header">5. ATTRIBUTION </h4>
  <p>You must ensure that the citation set out below is always clearly reproduced in any publication or analysis involving the Species+ data, in any derived form or format:</p>
  <p>UNEP (<%= Time.now.year %>). The Species+ Website. Nairobi, Kenya. Compiled by UNEP-WCMC, Cambridge, UK. Available at: <a href="https://www.speciesplus.net">www.speciesplus.net</a>. [Accessed (please insert date of download dd/mm/yyyy)].</p>

  <h4 class="point-header">6. NO GRANT OF INTELLECTUAL PROPERTY RIGHTS</h4>
  <p>No rights in the Materials are granted to the User by virtue of these Terms and Conditions or as a result of any use of the Materials.</p>

  <h4 class="point-header">7. ACCESS RESTRICTION</h4>
  <p>UNEP reserves the right to disable access to the Materials including the Species+/CITES Checklist API at any time without prior notice.</p>

  <h4 class="point-header">8. NO WARRANTY AND WAIVER OF LIABILITY</h4>
  <p>While UNEP strives to ensure accuracy and keep the Materials up-to-date, the Materials are provided to the User &#8216;as is&#8217; and no warranty of any kind is given as to its completeness or accuracy . All warranties, representations and conditions, express or implied, are hereby excluded to the fullest extent permitted. The User agrees to download and make use of the Materials entirely at his or her own risk. The User waives and releases UNEP from any liability whatsoever, wherever and howsoever arising in connection with any use of the Materials or Derivative Works. UNEP will not be liable on any grounds (including without limitation negligence, strict liability or under any other legal theory) for any loss or damage (direct or indirect) incurred by the User or any third party as a result of the use of the Materials or any Derivative Works. The User also indemnifies and holds harmless UNEP in respect of any loss or damage (direct or indirect) suffered by any third party as a result of any use by that third party of any Materials or Derivative Works published by the User. Without limitation to the above, any damage occurring to computer systems or loss of data as a result of the use of the Species+/CITES Checklist API or attempts to download Materials is entirely the User’s responsibility.</p>

  <h4 class="point-header">9. DISCLAIMERS</h4>
  <p>The contents of this website do not necessarily reflect the views or policies of UNEP, contributory organisations or editors. The designations employed and the presentation of material on this map do not imply the expression of any opinion whatsoever on the part of UNEP, the CITES and CMS Secretariats and the Secretariat of the United Nations concerning the legal status of any country, territory, city or area or of its authorities, or concerning the delimitation of its frontiers or boundaries. </p>

  <h4 class="point-header">10. FEEDBACK</h4>
  <p>The User agrees to provide feedback on the quality, reliability and accuracy of the Materials where these may become apparent.</p>

  <h4 class="point-header">11. CHANGES TO THESE TERMS AND CONDITIONS</h4>
  <p>UNEP reserves the right to vary these Terms and Conditions from time to time without notice. Therefore please ensure that you read these Terms and Conditions each time you download Materials or implement the Species+/CITES Checklist API in an application. By downloading Materials or using the Species+/CITES Checklist API you signify your acceptance of the most recent version of these Terms and Conditions in full.</p>

  <h4 class="point-header">12. DISPUTE RESOLUTION</h4>
  <p>Any dispute arising out of or in connection with any use of the Materials shall be settled by amicable negotiation with the Species+/CITES Checklist API supplier. Should attempts at amicable negotiation fail any such dispute shall, upon request by either the User or UNEP, be referred to arbitration in accordance with the UNCITRAL arbitration rules then prevailing.</p>

  <h4 class="point-header">13. COMMUNICATION</h4>
  <p>Any communication with respect to these Terms and Conditions and any issue arising from them shall be in writing in English and sent by email. The address for communication with the Species+/CITES Checklist API supplier is
  <a href="mailto:species@unep-wcmc.org" target="_top">species@unep-wcmc.org</a>
  .</p>

</div>
