<section class="mobile-header">
  <div class="mobile-header__hero">
    <h3>Species+</h3>
    <h2><%= t('mobile.privacy.hero') %></h2>
  </div>
</section>
<section class="mobile-body">
  <%= t('mobile.privacy.body').html_safe %>
</section>