<section class="mobile-header">
  <div class="mobile-header__title">
    <h2><%= t('mobile.terms.title') %></h2>
  </div>
  <div class="mobile-header__hero">
    <h2>Species+</h2>
    <h1><%= t('mobile.terms.hero') %></h1>
  </div>
</section>
<section class="mobile-body">
  <%= t('mobile.terms.body').html_safe %>
</section>