<section class="mobile-header">
  <div class="mobile-header__title">
    <h2><%= t('mobile.terms.title') %></h2>
    <button class="mobile-header__button">
      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.7083 1.70839C11.9032 1.51274 12.0004 1.27661 12 1.00004C12.0004 0.723467 11.9032 0.487339 11.7083 0.291687C11.5126 0.0968417 11.2766 -0.000347274 11 9.35354e-07C10.7234 -0.000347839 10.4874 0.0968417 10.2917 0.291687L6 4.58329L1.70833 0.291687C1.51265 0.0968417 1.2766 -0.000347274 1 9.35354e-07C0.723406 -0.000347839 0.487358 0.0968417 0.291668 0.291687C0.0968201 0.487345 -0.000379837 0.723467 1.11542e-06 1.00004C-0.000370908 1.27661 0.0968201 1.51274 0.291668 1.70839L4.58333 6L0.291668 10.2916C0.0968201 10.4873 -0.000379837 10.7234 1.11542e-06 11C-0.000370908 11.2765 0.0968201 11.5127 0.291668 11.7083C0.487353 11.9032 0.723406 12.0003 1 12C1.2766 12.0003 1.51264 11.9032 1.70833 11.7083L6 7.41671L10.2917 11.7083C10.4874 11.9032 10.7234 12.0003 11 12C11.2766 12.0003 11.5126 11.9032 11.7083 11.7083C11.9032 11.5127 12.0004 11.2765 12 11C12.0004 10.7234 11.9032 10.4873 11.7083 10.2916L7.41667 6L11.7083 1.70839Z" fill="black"/>
      </svg>
    </button>
  </div>
  <div class="mobile-header__hero">
    <h3>Species+</h3>
    <h2><%= t('mobile.terms.hero') %></h2>
  </div>
</section>
<section class="mobile-body">
  <%= t('mobile.terms.body').html_safe %>
</section>