<h1>API Usage</h1>
<h4>Last 30 Days Requests by Response Status</h4>

<%= line_chart @last_30_days_requests.group(:response_status).group_by_day(:created_at, range: 30.days.ago.midnight..Time.now).count %>

<div class="row">
  <div class="span6">
    <h4>All Requests by Response Status</h4>
    <%= pie_chart ApiRequest.group(:response_status).count, library: { legend: 'bottom' } %>
  </div>

  <div class="span6">
    <h4>All Requests by Controller</h4>
    <%= pie_chart ApiRequest.group(:controller).count, library: { legend: 'bottom' } %>
  </div>
</div>