<h1>API Usage</h1>
<h4>Last 30 Days Requests by Response Status</h4>

<%= line_chart sanitise_hash_for_line_graph(@last_30_days_requests),
  library: { 
  title: 'Requests by HTTP Status', 
  titlePosition: 'out',
  colors: ["red", "#4DBD33"]
  }
%>

<div class="row">
  <div class="span6">
    <h4>All Requests by Response Status</h4>
    <%= pie_chart ApiRequest.group(:response_status).count, library: { legend: 'none' } %>
  </div>

  <div class="span6">
    <h4>All Requests by Endpoint</h4>
    <%= pie_chart ApiRequest.group(:controller).count, library: { legend: 'none' } %>
  </div>
</div>