@import "bootstrap-variables";

.admin-header {
  h1 {
    color: $grayLight;
    float:left;
    width: 50%;
  }
  h3 {
    float: left;
    width: 50%;
  }
  a {
    float:right;
  }
  clear:both;
}

ul.dropdown-menu {
  z-index: 1100
}

.editableform-loading {
  background: image-url('loading.gif') center center no-repeat;  
  height: 20px;
}

.popover.editable-container {
  width: 300px;

  .form-inline.editableform {
    margin: 0;
  }

  .editable-input, .editable-buttons {
    display: inline;
  }

  .editable-input {
    margin-right: 10px;
  }
}
