@import "bootstrap-variables";

@mixin boldGrayLabel($width) {
  color: $grayLight;
  float: left;
  width: $width;
  display: block;
  font-weight: bold;
}

h1 {
  color: $grayLight;
}
#admin-in-place-editor {
  dl {
    margin: 0;
    dt {
      @include boldGrayLabel(50px);
    }
  }
}

#admin-new-record-modal {
  form {
    label {
      @include boldGrayLabel(50px);
    }
  }
}
