ul.dropdown-menu {
  z-index: 1100
}

.editableform-loading {
  background: image-url('loading.gif') center center no-repeat;
  height: 20px;
}

.popover.editable-container {
  width: 300px;

  .form-inline.editableform {
    margin: 0;
  }

  .editable-input, .editable-buttons {
    display: inline;
  }

  .editable-input {
    margin-right: 10px;
  }
}

.modal-body {
  textarea {
    width: 400px;
    height: 100px;
  }
}

input.annotation, textarea.annotation {
  width: 80%;
}

/* Custom Modal sizes */
#new-eu_opinion.modal, #new-eu_suspension.modal {
  width: 900px;
  margin-left: -420px;
}

