#nomenclature-changes-start {
  td { padding: 10px; }
}
form {
  textarea { width: 50%; }
}
.fields {
  padding: 10px 0;
}
.outputs_selection {
  margin-bottom: 25px
}
.outputs_selection span {
  margin-right: 10px
}

.more-split-outputs {
  .existing-taxon-input {
    .control-label, .input-taxon {
      display:none;
    }
  }
}
