.tab-content #details {
  input, select {
    width: 150px;
  }
}

.header {
  margin-bottom: 10px;

  h1 {
    margin: 0;
  }
}

.new_listing_change table,
.edit_listing_change table,
table.listing-change {
  width: 50%;

  tr {
    text-align: left;

    td {
      padding-right: 25px;
    }
  }
}

textarea.annotation {
  height: 4em;
}

input.annotation, textarea.annotation {
  width: 80%;
}

.new_listing_change,
.edit_listing_change {
  p {
    margin: 20px 0;
  }

  .inline {
    display: inline;

    & ~ input[type="checkbox"] {
      margin: 0;
    }
  }
}

tr.current_listing {
  td {
    background-color: lightgreen !important;
  }
}

#new-quota.modal {
  width: 700px;
}

ul.relationship_parts{
  list-style-type: none;
  overflow: hidden;
}
.relationship_parts li{
  width: 225px;
  float: left;
  margin-right: 15px;
}
#new-taxon_relationship{ /* modal window */
  width: 780px;
  margin-left: -390px; /* half the width */
}
