<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">
    <%= "#{taxon_concept.full_name} #{taxon_relationship_type.name} ..." %>
  </a></li>
  <% unless taxon_relationship_type.is_bidirectional? %>
    <li ><a data-toggle="tab" href="#inverse">
      <%= "... #{taxon_relationship_type.name} #{taxon_concept.full_name}" %>
    </a></li>
  <% end %>
</ul>

