
default: &default
  host: <%= ENV.fetch("SAPI_DATABASE_HOST", 'localhost') %>
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # https://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("SAPI_RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV.fetch("SAPI_DATABASE_USERNAME", 'postgres') %>
  port: <%= ENV.fetch("SAPI_DATABASE_PORT", 5432) %>

development:
  <<: *default
  database: sapi_development
  timeout: 5000

test:
  <<: *default
  database: sapi_test
  timeout: 5000

staging:
  <<: *default
  database: sapi_development
  port: 5432

production:
  <<: *default
  database: sapi_development
