staging:
  :default_url_options:
    :host: sapi.unepwcmc-012.vm.brightbox.net
  :smtp_settings:
    :enable_starttls_auto: true
    :address: pod51017.outlook.com
    :port: 587
    :domain: unep-wcmc.org
    :authentication: login
    :user_name:
    :password:

production:
  :default_url_options:
    :host: speciesplus.net
  :smtp_settings:
    :enable_starttls_auto: true
    :address: pod51017.outlook.com
    :port: 587
    :domain: unep-wcmc.org
    :authentication: login
    :user_name:
    :password: