common: &defaults
  secret_key_base: 'e09049f49c23855f0d6b52c864796e27708bbd61d37920fc01b9641e4310ed901ca77a0a827c6384509f17e81c8c68c7446658a70bc4780eae740803d045323b'
  mailer:
    domain: <%= ENV["MAILER_DOMAIN"] %>
    address: <%= ENV["MAILER_ADDRESS"] %>
    username: <%= ENV["MAILER_USERNAME"] %>
    password: <%= ENV["MAILER_PASSWORD"] %>
    host: <%= ENV["MAILER_HOST"] %>
    from: <%= ENV["MAILER_FROM"] %>
  redis:
    url: 'redis://127.0.0.1:6379/1'
  aws:
    bucket_name: <%= ENV["AWS_BUCKET_NAME"] %>
    access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
    secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>

development:
  <<: *defaults
  capistrano_slack: ''
  iucn_redlist:
    token: ''
    url: ''
  cms:
    index:
    show:

production:
  <<: *defaults

staging:
  <<: *defaults

test:
  <<: *defaults
