<h1>Annual Reports</h1>

<ul>
{{#each annual_report in controller}}
  <li>{{#linkTo 'annual_report' annual_report}}{{annual_report.year}}{{/linkTo}}</li>
{{else}}
  <li>There are no annual reports.</li>
{{/each}}
</ul>

{{outlet}}

<h2>Annual report upload</h2>
{{view Trade.AnnualReportUploadView name="source_file" contentBinding="content"}}
