{{view Trade.AnnualReportUploadFormView controllerBinding="controller"}}

Annual report uploads in progress:
<ul>
{{#each controller}}
  <li>
    {{#linkTo 'annual_report_upload' this}}
      {{this.summary}}
    {{/linkTo}}
  </li>
{{else}}
  <li>No annual report uploads found.</li>
{{/each}}
</ul>
