<h1>Annual Report Upload</h1>

<form id="fileupload" action="/trade/annual_report_uploads" method="POST" enctype="multipart/form-data">
  <label>Trading country</label>
  <input type="text" name="annual_report_upload[trading_country_id]">
  <label>Point of view</label>
  <input type="radio" name="annual_report_upload[point_of_view]" value="E">Exporter
  <input type="radio" name="annual_report_upload[point_of_view]" value="I">Importer

<p>Please upload a file in CSV format</p>

<span class="btn btn-success fileinput-button">
  <i class="icon-plus icon-white"></i>
  <span>Select file</span>
  {{view Trade.AnnualReportUploadFieldView name="csv_source_file" controllerBinding="controller"}}
</span>
<div id="upload-message"></div>

<input type="submit" value="Upload" disabled="disabled">

</form>
