<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	  <a class="brand" href="#">Trade DB Management Tool</a>
	  <ul class="nav">
	    <li class="active"><a href="#">Home</a></li>
      <li><a href="#/shipments/page=1">Shipments</a></li>
	    <li>{{#linkTo "annual_report_uploads"}}Annual Report Uploads{{/linkTo}}</li>
      <li>{{#linkTo "validation_rules"}}Validation rules{{/linkTo}}</li>
	  </ul>
  </div>
</div>

<div id="content">
  {{outlet}}
</div>
