<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Trade DB Management Tool
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/admin">Species+ Admin</a></li>
            </ul>
          </li>
          <li>{{#link-to "search.index" queryParams=false}}Home{{/link-to}}</li>
          <li>{{#link-to "annual_report_uploads"}}Annual Report Uploads{{/link-to}}</li>
          <li>{{#link-to "validation_rules"}}Validation rules{{/link-to}}</li>
          <li><a href="/trade/stats">Stats</a></li>
          <li><a href="/users/sign_out" rel="nofollow" data-method="delete">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {{outlet}}
  <hr>
  <footer>
    <p>&copy; UNEP-WCMC {{view.currentYear}}</p>
  </footer>
</div><!--/.fluid-container-->
