<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">Trade DB Management Tool</a>
    <ul class="nav">
      <li>{{#link-to "search.index" queryParams=false}}Home{{/link-to}}</li>
	    <li>{{#link-to "annual_report_uploads"}}Annual Report Uploads{{/link-to}}</li>
      <li>{{#link-to "validation_rules"}}Validation rules{{/link-to}}</li>
      <li><a href="/trade/stats">Stats</a></li>
      <li><a href="/users/sign_out" rel="nofollow" data-method="delete">Log out</a></li>
    </ul>
  </div>
</div>

<div class="container">
  {{outlet}}
  <hr>
  <footer>
    <p>&copy; UNEP-WCMC {{view.currentYear}}</p>
  </footer>
</div><!--/.fluid-container-->
