<header id="header">
  <h2>{{#linkTo "index"}}Home{{/linkTo}}</h2>

  <nav>
    <ul>
      <li>{{#linkTo "annual_reports"}}Annual Reports{{/linkTo}}</li>
    </ul>
  </nav>
</header>

<div id="content">
{{outlet}}
</div>
