<div class="row-fluid">
  <div class="span2">
    {{#if isPrimary}}
      <span class="label label-important">PRIMARY</span>
    {{else}}
      <span class="label label-warning">SECONDARY</span>
    {{/if}}
  </div>
  <div class="span10">
    <a {{action transitionToSandboxShipments this}}>
      {{errorMessage}} ({{errorCount}})
    </a>
  </div>
</div>
