<h1><%= @geo_entity.name %> relationships</h1>

<h2>
  contained in
  <a href="#new-containing-geo-entity" role="button" data-toggle="modal" class="btn new-button">+</a>
</h2>

<div id="new-containing-geo-entity" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-containing-geo-entity-label" aria-hidden="true">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="new-containing-geo-entity-label">Add new containing geo entity</h3>
  </div>
  <div id="admin-new-record-form" class="modal-body">
    TODO
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary save-button">Save changes</button>
  </div>
</div>

<% @geo_entity.containing_geo_entities.each do |ge| -%>
  <%= ge.name %><br>
<% end -%>

<h2>
  contains
  <a href="#new-contained-geo-entity" role="button" data-toggle="modal" class="btn new-button">+</a>
</h2>
<% @geo_entity.contained_geo_entities.each do |ge| -%>
  <%= ge.name %><br>
<% end -%>
