<%= admin_new_modal({:title => "Current CITES Suspensions"}) { render "current_suspensions_form" } %>

<%= form_for [:admin, @taxon_concept, @suspension], :html => {:class => 'form-horizontal'} do |f| %>

  <p>
    <%= link_to("View Current Suspensions", "#new-taxon_concept_suspension",
      {
        :role => "button",
        :"data-toggle" => "modal",
      }) %>
  </p>

  <%= render :partial => 'suspensions/form_shared', :locals => {:f => f} %>

<% end %>
