<h3>Distribution</h3>
<%= admin_add_new_distribution_button %>
<%= admin_new_distribution_modal(true) %>
<%= admin_edit_distribution_modal(true) %>

<hr />
<div class="distributions-list">
  <% if @taxon_concept.has_distribution? %>
    <%= render 'admin/distributions/list' %>
  <% else %>
    No distribution information added.
  <% end %>
</div>
