<%= form_tag collection_url,
  :method => :get, :html => {:class => 'form-inline'} do  %>

  <div class="input-prepend">
    <span class="add-on"><i class="icon-search"></i></span>
    <%= text_field_tag :query, params[:query], :class => "input-xxlarge" %>
  </div>
  <%= submit_tag 'Search'%>
<% end %>

