<script type="text/javascript">
  $(document).ready(function() {
    jQuery(".tagManager").tagsManager();
  });
</script>

<%= form_for @taxon_concept.distributions, :url => '', :remote => true do |f| %>
  <%= error_messages_for(@taxon_concept) %>

  <div class="control-group">
    <label>Tags</label>
    <%= f.text_field :tags, :class => 'tagManager' %>
  </div>
<% end %>
