<script type="text/javascript">
  $(document).ready(function() {
    jQuery(".tagManager").tagsManager();
  });
</script>

<div class="control-group">
  <label>Tags</label>
  <input type="text" name="tags" class="tagManager"/>
</div>
