<h2>New status change to accepted name</h2>
<%= status_change_blurb %>
<%= nomenclature_change_form do |f| %>
  <%= f.fields_for :primary_output do |ff| %>
    <div class="control-group">
      <label class="control-label">Parent:</label>
      <div class="controls">
        <!-- TODO figure out the restrictions on the auto complete here, none for now -->
        <%= ff.text_field :new_parent_id, {
          :class => 'taxon-concept',
          :'data-name' => ff.object.new_parent.try(:full_name),
          :'data-name-status' => ff.object.new_parent.try(:name_status),
          :'data-name-status-filter' => ['A'].to_json,
          :'data-taxonomy-id' => @taxonomy.id
        } %>
      </div>
    </div>
  <% end %>
<% end %>
