<h2>New status change to accepted name</h2>
<%= status_change_blurb %>
<%= nomenclature_change_form do |f| %>
  <%= f.fields_for :primary_output do |ff| %>
    <div class="control-group">
      <label class="control-label">Parent:</label>
      <div class="controls">
        <!-- TODO figure out the restrictions on the auto complete here, none for now -->
        <%= ff.text_field :new_parent_id, {
          :class => 'taxon-concept',
          :'data-name' => default_parent(ff).try(:full_name),
          :'data-name-status' => default_parent(ff).try(:name_status).to_s,
          :'data-name-status-filter' => ['A'].to_json,
          :'data-taxonomy-id' => @taxonomy.id,
          :'value' => default_parent(ff).try(:id)
        } %>
      </div>
    </div>
  <% end %>
<% end %>
