<div id="promo-banner" class="promo-banner">
  <div class="promo-banner__image"></div>

  <h2 class="promo-banner__title">
    <span class="text-species--sm">Species+</span>
    is now available as an app!
  </h2>

  <p class="promo-banner__text">
    Search for Species+ on your mobile app store
  </p>

  <div class="promo-banner__links">
    <a
      class="promo-banner__link--google"
      href='http://play.google.com/store/apps/details?id=com.WCMC.speciesplus'
      rel="external"
      target="_blank"
      title="Get it on Google Play"
    ></a>

    <div class="promo-banner__links">
      <a
        class="promo-banner__link--apple"
        href='https://apps.apple.com/gb/app/species/id1641695320'
        rel="external"
        target="_blank"
        title="Get it on the Apple Store"
      ></a>
    </div>
</div>