{{#if nomenclatureChangesHappened}}
  <div id="nomenclature_banner" class="banner">
    <p>
      <i class="fa fa-info-circle"></i>
      Changes to nomenclature have been made following changes adopted at the Seventeenth meeting of the Conference of the Parties to CITES
    </p>
  </div>
{{/if}}

<ul class="tabset top-level">
  <li {{bind-attr class="isSearchContextSpecies:active"}}>
    {{#link-to 'index'}}Search for Species{{/link-to}}
  </li>
  <li {{bind-attr class="isSearchContextDocuments:active :elibrary-tab"}}>
    {{#link-to 'elibrary'}}
      Search for CITES Documents
    {{/link-to}}
  </li>
</ul>
