<ul class="tabset top-level">
  <li {{bind-attr class="isSearchContextSpecies:active"}}>
    {{#linkTo 'index'}}Search for Species{{/linkTo}}
  </li>
  <li {{bind-attr class="isSearchContextDocuments:active"}}>
    {{#linkTo 'elibrary'}}
      Search for CITES Documents
      <div class='new-tag'></div>
      <div class='new-text'>new</div>
    {{/linkTo}}
  </li>
</ul>
