<div class="skip">
  <a accesskey="s" href="#main">skip to content</a>
</div>
<div id="wrapper">
  <div class="w1">
    <div id="header">
      <strong class="logo"><a href="/species">Species+</a></strong>
      {{outlet downloads}}
      <ul id="nav">
        <li><a href="/about">About</a></li>
        <li class="add"><a href="#">Related Resources</a>
        <div class="popup-holder">
          <ul>
            <li><a href="http://checklist.cites.org">Checklist of CITES Species</a></li>
            <li><a href="http://www.unep-wcmc-apps.org/citestrade/expert_accord.cfm">CITES Trade Database</a></li>
            <li><a href="http://captivebreeding.unep-wcmc.org">EU Captive breeding database</a></li>
            <li><a href="http://elibrary.unep-wcmc.org/">EU E-library</a></li>
            <!-- <li><a href="/eu_legislation">EU Wildlife Trade Legislation</a></li> -->
          </ul>
        </div>
        </li>
        <li><a href="/terms-of-use">Terms of use</a></li>
      </ul>
    </div>

    {{outlet main}}

  </div>
  <div class="push"></div>
</div>
<div id="footer">
  <div class="holder">
    <ul class="sponsor">
      <li><a href="http://www.cites.org"><img src="/assets/species/logo-CITES.png" alt="CITES logo" width="77" height="44" /></a></li>
      <li><a href="http://www.cms.int"><img src="/assets/species/logo-CMS.png" alt="CMS logo" width="31" height="44" /></a></li>
      <li><a href="http://www.unep.org"><img src="/assets/species/logo-UNEP.png" alt="UNEP logo" width="37" height="43" /></a></li>
      <li><a href="http://ec.europa.eu/environment/cites/home_en.htm"><img src="/assets/species/logo-EU.png" alt="EU logo" width="65" height="44" /></a></li>
    </ul>
    <div class="power-by">
    <a href="http://www.unep-wcmc.org"><img src="/assets/species/powered_by.png" alt="Powered by logo" width="66" height="44" /></a>
    </div>
  </div>
</div>
<div class="skip">
  <a href="#main">skip to content</a>
</div>
