<div class="skip">
  <a accesskey="s" href="#main">skip to content</a>
</div>
<div id="wrapper">
  <div class="w1">
    <div id="header">
      <strong class="logo"><a href="/species">Species+</a></strong>
      {{outlet downloads}}
      <ul id="nav">
        <li><a href="/about">About</a></li>
        <li class="add"><a href="#">Related Resources</a>
        <div class="popup-holder">
          <ul>
            <li><a href="http://checklist.cites.org">Checklist of CITES Species</a></li>
            <li><a href="http://trade.cites.org">CITES Trade Database</a></li>
            <li><a href="http://api.speciesplus.net">Species+ / CITES Checklist API</a></li>
            <li><a href="http://captivebreeding.unep-wcmc.org">EU Captive breeding database</a></li>
            <li><a href="/eu_legislation">EU Wildlife Trade Legislation</a></li>
            <li><a href="https://ec.europa.eu/environment/cites/reports_en.htm">EU analysis</a></li>
            <li><a href="https://tradeview.cites.org/">TradeView</a></li>
          </ul>
        </div>
        </li>
        <li><a href="/terms-of-use">Terms of use</a></li>
      </ul>
    </div>

    {{outlet main}}

  </div>
</div>
