{{partial 'species/tabs'}}
{{outlet search}}

<div class="container">

  <div class="results-heading">
    Search Results for Taxon:
  </div>

  <div class="result-block">
    <table class="grouped-results-table">
      <thead>
        <tr>
          <th></th>
          <th>EVENT TYPE</th>
          <th>DOCUMENT TYPE</th>
          <th>No of DOCUMENTS<th>
        </tr>
      </thead>
      <tbody>
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>CITES Animals Committee</td>
          <td>Review of Significant Trade</td>
          <td>2</td>
        </tr>
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>EC SRG</td>
          <td>Meeting Agenda</td>
          <td>17</td>
        </tr>
        <tr class="table-row">
          <td colspan="4">
            <div class="inner-table-container">
              <table>
                <thead>
                  <tr>
                    <th>EVENT</th>
                    <th>EVENT DATE</th>
                    <th>TITLE</th>
                    <th>LANGUAGE</th>
                    <th>No. of COUNTRIES</th>
                    <th>TAXON NAME</th>
                    <th>
                      <i class="fa fa-download"></i>
                      <input type="checkbox">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>aSRG22</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                    <td>SRG72</td>
                    <td>24/04/2006</td>
                    <td>SRG72-1 Agenda</td>
                    <td><select><option>English</option></select></td>
                    <td>England</td>
                    <td>Lynx Lynx</td>
                    <td><input type="checkbox"></td>
                  </tr>
                </tbody>
              </table>
            <div>
          </td>
        </tr>
        <tr class="group">
          <td>{{#view Species.ResultToggleButton}}{{/view}}</td>
          <td>EC SRG</td>
          <td>Meeting Agenda</td>
          <td>17</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
