<div class="tab-content">
  <div id="tab4">
    <div class="three-columns">
      <div class="col">
        <a href="#" class="link">APPENDIX</a>
      </div>
      <div class="col">
        <a href="#" class="link">TAXON</a>
      </div>
      <div class="col">
        <a href="#" class="link">LOCATION</a>
      </div>
    </div>
  </div>
</div>
