<h1>Welcome to <span class="text-species">species+</span></h1>
<p>Bringing you authoritative information on taxonomy, legislation, distribution and trade in MEA-listed species. <a class="learn-more" href="/about">Learn more</a>.</p>

{{partial 'species/tabs'}}
{{outlet search}}

<!-- Uncomment in order to add news/notifications/updates. Note src needs updating to work with rails asset fingerprinting
  <div id="banner">
    <p>
    </p>
    <button id="remove"><img id="remove" src="/assets/species/remove-icon.fw.png" alt="remove"/></button>
  </div>
-->

{{outlet downloadsButton}}
