<h1>Welcome to <span class="text-species">species+</span></h1>
<p>Bringing you authoritative information on taxonomy, legislation, distribution and trade in MEA-listed species. <a class="learn-more" href="/about">Learn more</a>.</p>
{{outlet search}}

<div id="banner">
  <p><strong>New feature:</strong> Now you can also search by common names <button id="remove"><img id="remove" src="/assets/species/remove-icon.fw.png" alt="remove" width="16" height="16" /></button></p>
</div>

{{outlet downloadsButton}}
