<h1>Welcome to <span class="text-species">species+</span></h1>
<p>Bringing you authoritative information on taxonomy, legislation, distribution and trade in MEA-listed species. <a class="learn-more" href="/about">Learn more</a>.</p>

{{partial 'species/tabs'}}
{{outlet search}}

<div id="banner">
  <p>
    <a class="learn-more" href='https://cites.org/sites/default/files/notif/E-Notif-2016-063.pdf'>Amendments to CITES listings</a>
    have been made following changes adopted at the Seventeenth meeting of the Conference of the Parties to CITES.
    The updated Appendices are available here:
    <a class="learn-more" href='https://cites.org/eng/app/appendices.php'>https://cites.org/eng/app/appendices.php</a>
  </p>
  <button id="remove"><img id="remove" src="/assets/species/remove-icon.fw.png" alt="remove"/></button>
</div>

{{outlet downloadsButton}}
