  <div class="links-area">
    {{#view Species.ToggleButton option="cites_eu" valueBinding="controller.taxonomy"}}
      CITES
    {{/view}}
    {{#view Species.ToggleButton option="cms" valueBinding="controller.taxonomy"}}
      CMS
    {{/view}}
  </div>

  {{view Species.TaxonConceptSearchView controllerBinding="controller"}}

  <div class="popup-area">
    {{view Species.GeoEntitiesSearchButton controllerBinding="controller"}}   
    {{view Species.GeoEntitiesSearchDropdown  controllerBinding="controller"}}
  </div>
  {{outlet count}}
