  <div class="links-area">
    {{#view Species.TaxonomyToggle option="cites_eu" valueBinding="controller.taxonomy"}}
    CITES
    {{/view}}
    {{#view Species.TaxonomyToggle option="cms" valueBinding="controller.taxonomy"}}
    CMS
    {{/view}}
  </div>

  {{view Species.TaxonConceptSearchView controllerBinding="controller"}} 
  {{#view Species.GeoEntitiesSearchView}} 
    {{view Species.GeoEntitiesSearchButton controllerBinding="controller"}}   
    {{view Species.GeoEntitiesSearchDropdown 
      controllerBinding="controller"
      isVisibleBinding="controller.geoEntitiesDropdownVisible"
    }}
  {{/view}}
{{outlet search}}
