<form action="#" class="search">
  <fieldset>
    {{view Species.TaxonConceptSearchTextField
      valueBinding="controller.taxonConceptQuery"
      queryBinding="controller.taxonConceptQuery"
      id="scientific_name"
      title="search"
      placeholder="Species, higher taxon, synonym or common name..."
      autocomplete="off"
    }}
    <button {{action "openSearchPage"}}>Search</button>
    {{view Species.TaxonConceptSearchDropdown
     valueBinding="controller.autoCompleteTaxonConcepts"
     isVisibleBinding="controller.taxonConceptsDropdownVisible"
    }}
  </fieldset>
</form>
