<ul>
{{#each controller.autoCompleteTaxonConcepts.meta.rank_headers}}
  <li class="header">{{this.rank_name}}</li>

  {{#each taxonConceptId in this.taxon_concept_ids}}
    {{taxon-concept-auto-complete-suggestion
      action="handleTaxonConceptAutoCompleteSelection"
      taxonConceptId=taxonConceptId
      taxonConceptQuery=controller.taxonConceptQuery
    }}
  {{/each}}

{{/each}}
</ul>
