<div class="admin-header">
  <div class="row-fluid">
  <h1>Documents</h1>
  </div>

  <div class="row-fluid">
    <div class="span4">
      Event type<br>
      <select id="event_type" name="event_type">
      <%= options_for_select([
        ['', ''],
        ['Cites Animal Committee', 'cites_acs'],
        ['Cites Plant Committee', 'cites_pcs'],
        ['Cites Technical Committee', 'cites_tcs'],
        ['Cites Extraordinary Meetings', 'cites_extraordinary_meetings'],
        ['European Commission SRG', 'ec_srgs']
      ]) %>
      </select>
    </div>
    <div class="span4" >
      Event<br>
      <select id="event" name="event" disabled>
        <option value=""></option>
      </select>
    </div>
    <div class="span4">
      Document type<br>
      <select id="document_type" name="document_type" disabled>
        <option value=""></option>
      </select>
    </div>
  </div>

  <div class="row-fluid">
    <a href="" id="event_link" style="visibility: hidden" disabled>
      Go to event upload document page
    </a>
  </div>

</div>

<script type="text/javascript">
$(function() {

  var $event_type = $('#event_type'),
    $event = $('#event'),
    $event_link = $('#event_link');

  $event_type.change( function() {
    var event_type = $(this).val();
    if (event_type) {
      $event.attr('disabled', false);
      $.getJSON(event_type+'.json', function( data ) {
        var items = ['<option value=""></option>'];
        $.each(data, function( idx, obj ) {
          items.push(
            "<option value='" + obj.value + "'>" + obj.text + "</option>");
        });
        $('#event').html(items.join( "" ));
      });
    } else {
      $event.attr('disabled', true);
      $event_link.css('visibility', 'hidden');
    }
  });

  $event.change( function() {
    var event = $(this).val();
    if (event) {
      $event_link.attr('disabled', false);
      $event_link.css('visibility', 'visible');
      $event_link.attr('href', 'events/'+event+'/documents');
    } else {
      $event_link.css('visibility', 'hidden');
    }
  });

});
</script>
