<div class="admin-header">
  <div class="row-fluid">
  <h1>Documents</h1>
  </div>

  <div class="row-fluid">

    <div class="span8">
      <div class="row-fluid"><h4 class="admin-header">Event Related</h4></div>
      <div class="row-fluid">
        <%= select_tag :event_type, options_for_select(@event_types, @event_types.first) %>
        <%= select_tag :event,
          options_for_select(
            @events.map { |e| [e.name, e.id, {:class => e.type.to_s}] }
          )
        %>
      </div>
      <div class="row-fluid">
        <a id="event_link" class="btn btn-primary">
          Go to event upload document page
        </a>
      </div>
    </div>
    <div class="span4">
      <div class="row-fluid"><h4 class="admin-header">Non Event Related</h4></div>
      <div class="row-fluid">
        <div class="span4">
          Document type<br>
          <select id="document_type" name="document_type" disabled>
            <option value="" disabled selected>Select your option</option>
          </select>
        </div>
      </div>
    </div>

  </div>

</div>
