<h2>New split</h2>
<%= nomenclature_change_form do |f| %>
  <%= render 'admin/nomenclature_changes/build/event_selector', :f => f %>
  <div class="control-group">
    <%= f.fields_for :input do |ff| %>
      <label class="control-label">Select taxon to split:</label>
      <div class="controls">
        <%= ff.text_field :taxon_concept_id, {
          :class => 'taxon-concept',
          :'data-name' => ff.object.taxon_concept.try(:full_name),
          :'data-name-status' => ff.object.taxon_concept.try(:name_status),
          :'data-name-status-filter' => ['A', 'N'].to_json
        } %>
      </div>
    <% end %>
  </div>
<% end %>
