<h2>New split: summary</h2>

<p>The following changes will be performed:</p>

<ul>
  <li><%= @nomenclature_change.input.taxon_concept.full_name %> will be split into:
    <ul>
      <% @nomenclature_change.outputs.each do |o| %>
        <li><%= o.taxon_concept.try(:full_name) %></li>
      <% end %>
    </ul>
  </li>
</ul>

<%= nomenclature_change_form('Finish')  %>
