.navButton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #006699;
}
.usrLevel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #006699;
	background-color: #FFFFFF;
	font-size: 75%;
	font-weight: bold;
}

.span_label {
color:#003300;
font-style:italic;
font-weight:700;
}

.select_label td{
padding: 3px 3px;
}

.banner {
  background-color: #ac9e89;
  width: 95%;
  margin: 0 auto;
  padding: 10px 200px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.banner p {
  display: inline-flex;
  flex: 60%;
  margin: 0;
}

.banner .bold {
  font-weight: bold;
  font-size: 18px;
}

.banner .download-button {
  display: inline-block;
  width: 150px;
  margin-left: 35px;
  background-color: #668738;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.download-button p {
  text-align: center;
}

.new {
  color: #9C1452;
}
