// Colours

$dark-grey: #666666;
$medium-grey: #dddddd;
$light-grey: #f7f7f7;
$dark-blue: #0e76b1;
$light-blue: #00a2db;
$link-blue: #0088cc;

#query_results {
  max-width: 1185px;
  width: 95%;
  //max-height: 600px;
  overflow: auto;
  margin: 10px;
  table {
    margin-left:auto; 
    margin-right:auto;
    background-color: #fff;
    color: black;
    font-size: 0.8em;
    border-collapse: collapse;
    td, th {
      border: 1px solid black;
      padding: 0.2rem;
      text-align: left;
    }
    td:nth-child(8), td:nth-child(9) {
      max-width: 70px;
    }

    td.c-app, td.c-importer, td.c-exporter, td.c-origin, td.c-purpose, td.c-source {
      text-align: center;
    }

    td.c-importer-reported-quantity, td.c-exporter-reported-quantity {
      text-align: right;
    }
    thead td {
      font-size: 1.3em;
      font-weight: bold;
    }
  }
  .info {
    color: white;
  }

  table.net_gross {
    td:nth-child(n+6) {
      text-align: right;
    }
  }

}


span.match {
  text-decoration: underline;
}

#this_should_not_be_a_table {
  font-family: "Verdana, Arial, Helvetica, sans-serif";
}

#cites-trade-loading {
  text-align: center;
}
