<div class="grid_16 main_content">

<div id="query_results" class="grid_16 results">
  <div id="new_search_wrapper" align="center">
    <button id="new_search" style="float:right; margin-right:15px;" value=" New Search ">
      <a id="new_search" style="float:left" href="/cites_trade/">
        <img src="/assets/cites_trade/refresh1.png" alt=""/> New Search
      </a>
    </button>
    <br>
  </div>
  <h3 style="text-align:center">Comparative Tabulation Report</h3>
  <table id="query_results_table">
  </table>
  <p class="info"></p>
</div>

</div>
