/*
*= require c3
*/

table.topn-species {
  float: left;
  width: 25%;
  margin: 20px;

  td {
    border-top: 1px solid #ddd;
    border-right: 0px;
    border-left: 0px;
    padding: 10px 5px;
  }
}

.c3-axis-x g.tick text {
  cursor: pointer;
}
