/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require datepicker
 *= require select2
 *= require_tree ./admin
 */

/***********
 * Styles for the TaxonRelationships CRUD page
 * TODO: Not sure if this should go into its own file
 */
ul.relationship_parts{
  list-style-type: none;
  overflow: hidden;
}
.relationship_parts li{
  width: 225px;
  float: left;
  margin-right: 15px;
}
#new-taxon_relationship{ /* modal window */
  width: 780px;
  margin-left: -390px; /* half the width */
}

table#admin-in-place-editor tr.current_listing td{
  background-color: lightgreen;
}
