<div>
 <table class="table_cites">
  <th width="100%" class="table_cites">The top 10 most visited species in CITES.</th>
  <td class="table_cites">Number of visits</td>
<tbody>
  <% @toptens_cites.each do |topten| -%>
    <tr>
      <td class="table_cites">
        <%= topten.species %>
      </td>
      <td class="table_cites">
        <%= topten.number_of_visits %>
      </td> 
    </tr>
    <% end %>
</tbody>
</div>