  <div class="table">
 <table>
 <thead>
  <th width="10%">Top10 Species</th>
</thead>
<tbody>
  <% @toptens.each do |topten| -%>
    <tr>
      <td>
        <%= topten.species %>
      </td>
    </tr>
    <% end %>
</tbody>
</div>