<strong class="title more">CMS Agreements and MoUs</strong>
{{#unless cmsInstruments}}
  <p class="empty">This {{#tolower rankName}}{{/tolower}} is not currently listed in any CMS Agreement or MoU.</p>
{{else}}
  <table summary="data table">
    <thead>
      <tr>
        <th class="col2">NAME</th>
        <th class="col2">DATE</th>
      </tr>
    </thead>
    <tbody>
      {{#each agreement in cmsInstruments}}
          <tr class="current">
            <td>{{agreement.name}}</td>
            <td class="last">{{agreement.effective_from_formatted}}</td>
          </tr>
      {{/each}}
    </tbody>
  </table>
{{/unless}}