<div id="feedback_modal">
  <div id="feedback_form">
    <a href="#" class="feedback-cancel"><i class="fa fa-times"></i></a>
    <div class="feedback-container">
      <div class="feedback-header">
        <h2>Feedback</h2>
      </div>
      <div class="feedback-body">
        <p>
          If you have anything to tell us, please contact the Species+ team at:
        </p>
        <p>
          <a href="mailto:species@unep-wcmc.org">species@unep-wcmc.org</a>
        </p>
      </div>
      <div class="feedback-footer">
      </div>
    </div>
  </div>
</div>
