<div id="footer">
  <div class="holder">
    <div class="logos">
      <ul class="sponsor">
        <li>
          <a href="http://www.cites.org">
            <img src="/assets/species/logo-CITES.png" alt="CITES logo" width="77" height="44" />
          </a>
        </li>
        <li>
          <a href="http://www.cms.int">
            <img src="/assets/species/logo-CMS.png" alt="CMS logo" width="31" height="44" />
          </a>
        </li>
        <li>
          <a href="http://www.unep.org">
            <img src="/assets/species/logo-UNEP.png" alt="UNEP logo" width="37" height="43" />
          </a>
        </li>
        <li>
          <a href="http://ec.europa.eu/environment/cites/home_en.htm">
            <img src="/assets/species/logo-EU.png" alt="EU logo" width="65" height="44" />
          </a>
        </li>
      </ul>
      <div class="power-by">
        <a href="http://www.unep-wcmc.org">
          <img src="/assets/species/powered_by.png" alt="Powered by logo" width="66" height="44" />
        </a>
      </div>
    </div>
    <% unless current_user %>
      <div class="login-link">
        <a href="#login_modal"><i class="fa fa-sign-in"></i> EU Member Login</a>
      </div>
    <% end %>
  </div>
</div>
