<div class="logged-footer">
  <i class="fa fa-user"></i><%= current_user.name %>
  <%= link_to '<i class="fa fa-sign-out"></i>Log out'.html_safe,
    destroy_user_session_path, method: :delete
  %>
</div>
