<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <%= stylesheet_link_tag "activities" %>
   <%= javascript_include_tag "activities" %>
  <title>Activity Page</title>
</head>
<body>
   <h1>User Activity in Species+</h1>
	<%= yield%>
</body>
</html>