<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag "cites_trade" %>
  <%= javascript_include_tag "cites_trade" %>
</head>

<body class="markeeta">
  <%= yield %>
</body>
</html>