<!doctype html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag "cites_trade" %>
  <%= javascript_include_tag "cites_trade" %>
</head>

<body class="markeeta">
  <div class="container clearfix">
    <div class="grid_16 cites_header">
      <div style="text-align: center;position:relative;width:'100%'">
        <a href="http://www.cites.org/" target="_blank">
          <img width='100%' src="/assets/cites_trade/cites_banner_en.jpg" alt="CITES" >
        </a>
      </div>
    </div>
  
    <div id="language_links" class="linkStyle">
      <font size="-1" face="Verdana, Arial, Helvetica, sans-serif">
        <a href="http://www.unep-wcmc-apps.org//citestrade/process.cfm?language=spanish">
        Espanol
        </a>
        <a href="http://www.unep-wcmc-apps.org//citestrade/process.cfm?language=french">
        Francais
        </a>
      </font>
    </div>
    <br><br>
  <%= yield %>
  </div>
</body>
</html>